[2018-08-16 19:04] vjpixel opened #1 "create Product Backlog"

[2018-08-16 19:26] vjpixel opened #2 "play with Layar"
to get experience as a user of an augmented reality app

http://layar.com/

[2018-08-16 19:29] vjpixel opened #3 "review scrum agreement"
finish reviewing the Scrum Meetings and Notes document

[2018-08-16 19:33] vjpixel opened #4 "write partial report"

[2018-08-16 19:33] vjpixel opened #5 "write final report"

[2018-08-16 19:36] vjpixel opened #6 "send documents to sponsor"

[2018-08-16 19:38] vjpixel opened #7 "0. translate app so it's in English and Portuguese"

[2018-08-16 19:40] vjpixel opened #8 "Publish old artworks and exhibitions in the app"
add old artworks in the database

[2018-08-16 19:41] vjpixel opened #9 "organize exhibitions in the app"
list/link artworks in every exhibition

[2018-08-16 19:42] vjpixel opened #10 "add new artwork"

[2018-08-16 20:12] vjpixel opened #11 "define AR>street strategy"
From the discussion that @pablodiegoss started: we need to define the best strategy to simplify the way that the user can access AR content.

[2018-08-29 00:09] vjpixel opened #12 "update the schedule based on the contract"

[2018-08-29 00:11] vjpixel opened #13 "write article about AR exhibitions"

[2018-08-29 00:47] rodrigocam opened #14 "Create continuous integration and deployment"
Create a pipeline for continuous integration and deployment, defining a git policy and a free host for homolog.

[2018-08-29 00:52] rodrigocam opened #15 "Create and document an initial architecture"
Create (or improve) the project architecture and document for the sake of sanity.

[2018-08-30 16:18] pablodiegoss opened #16 "Create Docker environment with a HTTPS server"
An environment with docker will facilitate other developers to contribute and to deploy our application.

[2018-08-30 16:22] pablodiegoss opened #17 "Create base AR.js project"
Create a base project to test AR.js and allow a future migration of Jandig features to ARte

[2018-08-30 16:26] pablodiegoss opened #18 "Create a Web Manifest and Service Worker"
Creating a Web Manifest and Service Worker will transform the project in a Progressive Web App, these should cover differences between Android and IOS devices.

[2018-08-30 16:29] pablodiegoss opened #19 "Use GIFs with AR.js"
Base AR.js do not work with gifs, an external lib to play and animate GIFs needs to be used.

[2018-08-30 16:35] pablodiegoss commented on #14
This should include to define project tools too, like linters, translations and documentations tools.

[2018-08-31 13:38] Heloisecs commented on #1
@pablodiegoss @rodrigocam preciso de ajuda para definir os específicos aqui (de dev)

Product backlog:
- WPA
  - Visual Identity Guidelines (design)
  - User Interface (design)
  - Read marker and retrieve animation / 3D (dev)
  - Define animations format (dev)
  - Access camera on iphone and android (dev)

 - WEB
   - Exhibitors web interface to send RA package; (design)
   - Public art work repo

[2018-08-31 15:17] Heloisecs opened #20 "Jandig Visual Identity guidelines"

[2018-09-01 17:14] rodrigocam opened #21 "ARte with current Jandig features"
Create a protoype that has the current jandig features (see all content that jandig already has). This prototype has to be deployed and be available for staging.

[2018-09-01 17:14] pablodiegoss commented on #18
The initial project has been concluded, some app dependencies can already be cached on the service worker

[2018-09-01 17:26] vjpixel opened #22 "Make GOSH exhibition"

[2018-09-01 17:26] Heloisecs opened #23 "Jandig Visual Identity guidelines"
Análise de similares
Painel de identidade visual
Geração de Alternativas

[2018-09-01 17:29] vjpixel opened #24 "make London Intervention"
make an intervention in London, between October the 5th and 7th.

[2018-09-01 17:30] vjpixel opened #25 "make launch exhibition"
make an exhibition to launch the new software. date to be defined, between January and February, 2019.

[2018-09-01 17:30] Heloisecs opened #26 "Interface de usuário"
Mapeamento de processos
Mapeamento da interação
Telas aplicativo
Telas do site para expositores
Telas do repositório de obras online

[2018-09-01 17:33] Heloisecs opened #27 "Process Mapping"
Mapear processo do usuário em interfaces

[2018-09-01 17:33] rodrigocam opened #28 "Manage missing exhibition content on user devices"
When a user point his device to a marker that was not downloaded, there must be a management to ask if he desires to download the content of that marker or the content of the whole exhibition.

[2018-09-01 17:33] vjpixel opened #29 "Create manual for creating artworks"
Focused on the creation/linking of markers and animations.

[2018-09-01 17:34] Heloisecs opened #30 "Mapeamento da interação"
Mapeamento do fluxo de interação (já referente às telas da interface)

[2018-09-01 17:34] vjpixel opened #31 "11. Create manual for creating ehxibitions"
Create a guide for curators of how to create an exhibition (from existing artwork and from scratch)

[2018-09-01 17:35] Heloisecs opened #32 "UI app (mobile)"
Create

- [x]  Splash screen
- [x] mini tutorial (point camera at marker+share videos) + skip tutorial
- [x] link to add Jandig to screen.
- [x] take pics and videos, then share or save to gallery

[2018-09-01 17:36] Heloisecs opened #33 "Telas do site para expositores"

[2018-09-01 17:36] rodrigocam opened #34 "Manage exhibition content"
Manage the way that artists users can upload their exhibitions to our platform, so all user can interact with this exhibitions using ARte.

[2018-09-01 17:36] Heloisecs opened #35 "Telas do repositório de obras online"

[2018-09-01 17:37] rodrigocam opened #36 "Share content"
Create a way to share images/videos with ARte and share this content in different medias.

[2018-09-01 17:38] Heloisecs opened #37 "Benchmarking"

[2018-09-01 17:38] Heloisecs opened #38 "Iterations on Visual Identity"

[2018-09-01 17:39] Heloisecs opened #39 "Manual de Identidade Visual (Brand Guidelines)"

[2018-09-01 17:49] Heloisecs opened #40 "Visual Id Board"

[2018-09-01 18:11] #3 closed

[2018-09-01 18:12] vjpixel commented on #3
https://docs.google.com/document/d/13_zHqOZVn4Z5qmOjHRCPdoeYJmDUwMQpi80aFmT6G7s/edit?usp=sharing

[2018-09-01 18:12] #1 closed

[2018-09-01 18:56] #11 closed

[2018-09-01 19:02] vjpixel opened #41 "Create Multimarker"

[2018-09-03 23:20] vjpixel opened #42 "grant access to Jandig server"
related to #14

[2018-09-03 23:29] vjpixel commented on #13
https://docs.google.com/document/d/1x3NIPriTqHCtdH7gf_2pXN1k0ugVuk7uZ2Kf-uABbVg/edit

[2018-09-03 23:47] rodrigocam opened #43 "Create a documentation about development server"
Explain how our local https development server works and all bugs found at the moment.

[2018-09-03 23:49] rodrigocam commented on #18
For local development, service worker may won't work properly on some browsers, due to security requirements because we are using a self signed certificate.

[2018-09-03 23:52] rodrigocam commented on #16
For development, we are using [django-sslserver](https://github.com/teddziuba/django-sslserver) to locally serve ARte trhough HTTPS (we need this to use WebRTC protocol and service workers). We faced some problems with service worker when running on some browsers like google chrome.

[2018-09-04 00:04] vjpixel commented on #2
from my part, please check issue #37

[2018-09-04 00:09] vjpixel commented on #37
Instructions to see a demo I created using HP Reveal:
1. Install HP Reveal from Google Play ("https://play.google.com/store/apps/details?id=com.aurasma.aurasma") or Apple App Store (“https://itunes.apple.com/us/app/hp-reveal/id432526396”).
2. Create an account.
3. Search for Pompéia.
4. Point the camera to the attached image.
![castelo](https://user-images.githubusercontent.com/1034796/45003887-91

[2018-09-04 00:14] vjpixel commented on #37
![aurasmascreenshot_1536019856021](https://user-images.githubusercontent.com/1034796/45003959-520c8780-afbe-11e8-95b9-1d36dc574993.jpg)

A picture I took.

I tried to record a small movie, but the app crashed.

[2018-09-04 01:35] rodrigocam commented on #15
Can you please review the initial [document](https://github.com/memeLab/ARte/wiki/ARte-architecture) @vjpixel ?

[2018-09-04 10:59] vjpixel opened #44 "Follow up Mozilla calls"
Follow up MozFest and Mozilla Open Leaders calls.

https://mozillafestival.org/
https://github.com/MozillaFestival/mozfest-program-2018/issues/705

https://foundation.mozilla.org/en/opportunity/mozilla-open-leaders/

[2018-09-04 11:01] vjpixel commented on #44
I got an e-mail yesterday saying that our proposal for the exhibition was accepted at MozFest, but unfortunately they can't fund our travel.

[2018-09-04 12:53] vjpixel opened #45 "Watch for calls"
Watch for calls that can fund Jandig exhibitions and further development

[2018-09-04 12:53] vjpixel commented on #45
http://www.omagaleria.com

[2018-09-04 23:17] vjpixel opened #46 "Commit all artworks"
Send all PNG/GIF, and patts.

[2018-09-04 23:46] rodrigocam opened #47 "Remove AR.js content of camera"
AR.js render some content on the device camera, we need to remove this content to see a clean camera.

[2018-09-04 23:46] pablodiegoss opened #48 "Create code for markers dinamically"
This should be done using Jinja2 to coordenate a list of markers and show them in the index page.

[2018-09-07 15:41] Heloisecs commented on #40
Progresso:
I searched for visual references in new media art, art & tech and vapor wave aesthetics. The general idea of this board is to use those references as inspiration to create our visual identity.

![artboard 2painel](https://user-images.githubusercontent.com/9471715/45229091-51fcd800-b29b-11e8-8a11-ff2e3179964d.jpg)

[2018-09-07 19:40] Heloisecs commented on #38
Processo:
I started generating alternatives that tried to reproduce previous Jandig logo.
![image](https://user-images.githubusercontent.com/9471715/45230462-56c38b00-b29f-11e8-9c9b-0779a460d60c.png)
Inspired by the board and the concept of previous logo, other alternatives were generated.
![image](https://user-images.githubusercontent.com/9471715/45230857-9b035b00-b2a0-11e8-982e-f3dc5c52631f.png)

[2018-09-07 19:51] Heloisecs commented on #38
Alternatives to final proposal:
![image](https://user-images.githubusercontent.com/9471715/45239776-d3b12d80-b2bc-11e8-8564-bed26e7fcd93.png)
Final proposal for the logo:
![image](https://user-images.githubusercontent.com/9471715/45240196-217a6580-b2be-11e8-97ee-dd818ede1e40.png)
![image](https://user-images.githubusercontent.com/9471715/45240205-2b03cd80-b2be-11e8-96d4-b70be2c22ae0.png)
![image](

[2018-09-11 15:49] #16 closed

[2018-09-11 15:52] pablodiegoss commented on #17
Base project included the basic use of markers and external patterns.
The defined structure for markers was like:
[code]

[2018-09-11 15:52] #17 closed

[2018-09-11 15:55] pablodiegoss commented on #19
There is a lib that solve our problem with A-Frame and GIFs:
https://github.com/mayognaise/aframe-gif-shader
This lib was developed by Mayognaise and it has a problem to show GIFs with transparent background, not having a flush between each draw of frame.
However Tinchoforever fixed this in his project Belisario and proposed a pull request to Mayognaise(Which was not accepted yet on this moment),

[2018-09-11 15:55] #19 closed

[2018-09-11 23:18] vjpixel commented on #44
We've been selected to Mozilla Open Leaders! =)

https://foundation.mozilla.org/en/opportunity/mozilla-open-leaders/round-6/projects/projects---cohort-d/

[2018-09-11 23:19] rodrigocam opened #50 "Check if we can drop AR.js dependency"
Check the possibility of the use of pure jsartoolkit and three.js for more features.

[2018-09-11 23:59] rodrigocam commented on #47
The content of AR.js shows on the camera (some features for debug) was removed and now the camera space is clean. The modified version of AR.js that we use can be found [here](https://github.com/pablodiegoss/ARte-libs).

[2018-09-14 18:02] pablodiegoss commented on #14
I found nice platform to make a continuous deploy for websites that is integrated with github: Netlify
However it only hosts static websites and we started using Django and that became impossible.

[2018-09-14 18:08] pablodiegoss commented on #14
After some research on how to generate a static site with django, i found django-distill. Using some distill_functions we can generate a static site or specific pages for our django project. That will require some new dependencies and create lots of lines and files for commits, i don't wanna polute our master and repository with that.
So, i created a branch Netlify that will be watched by the plat

[2018-09-14 18:44] Heloisecs commented on #27
First work on process mapping since our initial draft for proposal:
![image](https://user-images.githubusercontent.com/9471715/45569167-103cd600-b835-11e8-9f36-1cc7c7a7d84d.png)

[2018-09-14 18:49] Heloisecs commented on #37
Wrote a small review of layar + HP Reveal, it's on our drive
https://drive.google.com/open?id=1dFCvknM844IOCTluGyORkDhLlxPhIvg6XQjwEKb2Jhw

[2018-09-14 18:49] Heloisecs commented on #27
Link on drive
https://drive.google.com/open?id=1FODM2q2Janfvr26A8ZdZcVnLmFOOWHXN

[2018-09-16 22:27] vjpixel commented on #15
I've just finished reviewing

[2018-09-16 22:30] vjpixel commented on #47
@rodrigocam, what do you think about moving the libs repo to memeLab?

[2018-09-16 23:52] vjpixel commented on #6
I was contacted today and asked to send the documentation.

[2018-09-16 23:54] vjpixel commented on #12
From the mail I received today, it takes about 2 weeks to the sponsor to send me the contract.

I propose this task get to the icebox until I have the document.

[2018-09-16 23:58] vjpixel opened #51 "check PIS"
When I was looking on my documents to fill the form from the sponsor, I've found that I have 3 PIS numbers.

I need to go to Caixa Econômica and check which to use.

[2018-09-16 23:59] vjpixel commented on #6
All documents are OK, except the one in #51

[2018-09-17 14:58] vjpixel commented on #27
I think it's great.

The only modification I propose by now is to change "Interface Web" to "CMS".

[2018-09-17 15:06] vjpixel opened #52 "OL week 1"
Base documents:
- https://github.com/MozillaFestival/open-leaders-6/issues/95
- https://docs.google.com/document/d/1IAQN1KGOpAc8WhA_CEKTgvQr20je8uYMFgIPLLgmqRs/edit?usp=sharing

Week 1 tasks:
- Complete the OLF self-assessment

[2018-09-17 15:08] vjpixel opened #53 "OL week 2 - [19-25/9]"
Base documents:
- https://github.com/MozillaFestival/open-leaders-6/issues/95
- https://docs.google.com/document/d/1IAQN1KGOpAc8WhA_CEKTgvQr20je8uYMFgIPLLgmqRs/edit?usp=sharing

Week 2 tasks:
- [x] Complete Assignment 'Write Your Vision or Mission Statement'
- [x] Watch 'Mozilla & Working Open'
- [x] Check the Syllabus for notes and connection info for all the cohort calls
- [x] Look up two other

[2018-09-17 15:22] vjpixel commented on #46
When I started to organize the content, I realized that we can use a different version (with higher quality) than the ones that are in Jandig .apk.

So I'm sending the link of a Drive folder hat contains different resolutions of the content (and some markers with hi-res too).

https://drive.google.com/drive/folders/1TaWUNj1FZhM-PsmsLpIDv9o_Y6_qcyoK

[2018-09-17 15:23] vjpixel commented on #42
@pablodiegoss @rodrigocam
can you please review?

[2018-09-17 16:40] rodrigocam commented on #47
@vjpixel I think its ok, we are searching for a different approach on how to manage those libs, for now I will move the repo for memeLab organization.

[2018-09-17 22:31] Heloisecs commented on #52
I’m working with developers, artists and curators to create an open Augmented Reality and New Media art tool so that public, artists and curators can create, make and experiment with new media art and new technologies more easily, in an accessible manner.
@vjpixel

[2018-09-18 00:08] vjpixel commented on #52
I'm working with developers, artists and curators to build an open Augmented Reality and New Media art tool so that public, artists and curators can create, make and experiment with new media art and new technologies more easily, in an accessible manner.

++

I've just changed one word.

We have "new media art" twice. I think would be good to change one occurrence.

[2018-09-18 13:50] vjpixel commented on #6
I've just sent the documents.

[2018-09-18 13:52] vjpixel commented on #51
I went to Caixa Economica and got a partial answer.

I'm sending the documents to sponsor following the instructions I received at Caixa.

[2018-09-18 15:20] vjpixel commented on #52
Check the document above to see the result from this week's work.

[2018-09-18 23:46] vjpixel commented on #6
@Heloisecs can you please review?

[2018-09-18 23:48] vjpixel commented on #48
@rodrigocam can you please review?

[2018-09-18 23:58] vjpixel commented on #27
@Heloisecs it's amazing! please translate it to English. =)

[2018-09-19 00:29] pablodiegoss commented on #46
Nice, i got acess to everything, i think

[2018-09-19 00:30] #15 closed

[2018-09-19 00:30] pablodiegoss commented on #43
I reviewed it and added some new stuff, looks nice

[2018-09-19 00:30] #43 closed

[2018-09-19 00:31] #47 closed

[2018-09-19 00:31] #48 closed

[2018-09-19 00:31] #46 closed

[2018-09-19 00:31] #40 closed

[2018-09-19 22:15] vjpixel commented on #53
I just updated the description with more tasks and put check boxes so it's easy to we to know what's already done.

@Heloisecs

[2018-09-19 22:17] vjpixel commented on #53
@Heloisecs I think we should create specific issues for the Canvas and Roadmap. What do you think?

[2018-09-21 18:17] rodrigocam opened #54 "Create dynamic urls for new exhibition"
Build a way to create an exhibition with various artworks and generate a unique url for this exhibition, so when someone access /exhibition-name, the content of that exhibition is downloaded and can be used for marker recognition.

[2018-09-21 18:29] rodrigocam opened #55 "Save artwork content on database"
Save the content of a artwork on the database, so when someone access an exhibition we can give the marker and the content of the artworks.

[2018-09-21 21:56] Heloisecs opened #56 "Make the project open"
We are trying to make Jandig more open for contributors since now (this is a priority)
1. Create a good README.md
2. Create Developers.md
3. Create Artists.md
4. Create Workflow.md
5. Create public Roadmap (example: https://github.com/KirstieJane/STEMMRoleModels/issues/1 )
6. Make releases and pre releases

Comments from mentor:
Pranshu: I'd recommend using GitHub's Release tools where you can eve

[2018-09-21 22:36] vjpixel opened #57 "plan GOSH exhibition"

[2018-09-21 22:41] vjpixel opened #58 "plan int'l interventions"
Plan distributing stickers in GOSH, in a way that we have stickers in many countries. =D

[2018-09-21 22:53] vjpixel opened #59 "OL week 3 [26/9-2/10]"
- [x] Look up two other projects and comment on their issues with feedback on their open canvas.
- [x] Pick an open license for the work you're doing during the program.
- [x] Use your canvas to start writing a README, or landing page, for your project. Link to your README in a comment on this issue.

[2018-09-21 22:53] vjpixel opened #60 "OL week 4"
- [] Look up two other projects and comment on their issues with feedback on their open canvas.
- [] Pick an open license for the work you're doing during the program.
- [] Use your canvas to start writing a README, or landing page, for your project. Link to your README in a comment on this issue.

[2018-09-21 22:55] vjpixel commented on #60
Duplicaded from #59

[2018-09-21 22:55] #60 closed

[2018-09-21 23:09] pablodiegoss commented on #42
Done

[2018-09-21 23:09] #42 closed

[2018-09-21 23:19] pablodiegoss opened #61 "Add all the content available of Jandig to the application"
We have a lot os arts now but only Hiro and Peixe are being recognized, we need to add the older ones

[2018-09-21 23:36] rodrigocam opened #62 "Make releases and pre releases"

[2018-09-21 23:37] pablodiegoss opened #63 "Create document Developers.md"
Create a doc to guide developers on contributing to this rep and project, specially on hacktoberfest

[2018-09-21 23:38] vjpixel opened #64 "Create public Roadmap"
example: KirstieJane/STEMMRoleModels#1

[2018-09-21 23:43] rodrigocam opened #65 "Create a good README.md"

[2018-09-21 23:51] vjpixel opened #66 "plan London intervention"

[2018-09-22 00:03] vjpixel opened #67 "Update Jandig poster"

[2018-09-26 02:02] vjpixel commented on #53
I just reviewed and edited the canvas.

[2018-09-29 07:36] vjpixel opened #68 "Around the World in Eighty Jandigs"
Inspired by Around the World in Eighty Days, the plan is to stick 80* Jandig stickers in my trip to Raindance and GOSH.

* More info on the exact number later.

[2018-09-29 07:36] vjpixel commented on #68
![photo5003642535293331519.jpg](https://images.zenhubusercontent.com/5b75cdf6a0e0b6436db26bb5/831fbc03-9e14-49e1-b22f-5a92b1379606)
![photo5003642535293331520.jpg](https://images.zenhubusercontent.com/5b75cdf6a0e0b6436db26bb5/1a2c1d06-a474-4f89-a75d-527f62af8745)![photo5003642535293331521.jpg](https://images.zenhubusercontent.com/5b75cdf6a0e0b6436db26bb5/90aeb9ac-e618-4e80-baba-267ca2ea4aab)![phot

[2018-09-29 07:39] vjpixel commented on #66
Since I'm travelling to many cities, I decided to make an international intervention.

The plan is in #68.

[2018-09-29 07:40] vjpixel commented on #57
Since I'm travelling to many cities, I decided to make an international intervention.

The plan is in #68.

[2018-09-29 07:50] vjpixel commented on #67
I don't think the old posters are good examples.

Link to old posters:
https://drive.google.com/drive/folders/0Bz4dKKlCBT-EaHVidGgxYXY2WTg?usp=sharing

Initially, I proposed 2 actions on GOSH:
1. Exhibition
2. Viralizing intervention

But when I started planning, I realized that make more sense just having the second action. Having the first one will create an institutional image I don't think is

[2018-09-29 07:51] vjpixel commented on #57
Also, to understand better, see #67

[2018-09-29 07:56] vjpixel commented on #58
This intervention will distribute stickers at GOSH and ask people to glue them in their own countries and to send us pictures of them.

(Not to confuse with Around the World in Eighty Jandigs)

There will be no verbal presentation, so we need a poster that teaches everything to our collaborators.
See #67

[2018-09-29 08:11] vjpixel commented on #65
I recommend using our canvas as inspiration for writing the README.

https://docs.google.com/presentation/d/1WCkDt_UuWAmVzdOtXCMTVlhjQ0sEaI2bhz1ZGtHu74g/edit?usp=sharing

[2018-09-30 00:05] rodrigocam commented on #65
Can you please review @pablodiegoss @vjpixel ?

[2018-09-30 09:42] vjpixel commented on #37
I did some tests with Layar and it (still) is the best AR browser. I totally recommend a deeper benchmark of the architecture and structure.

![photo5008207329614735360](https://user-images.githubusercontent.com/1034796/46256027-4906bd00-c47b-11e8-9f7a-9b0c536380ec.jpg)
![photo5010604157589104684](https://user-images.githubusercontent.com/1034796/46256029-499f5380-c47b-11e8-8e8b-656bf0ca2080.jpg)

[2018-09-30 09:43] vjpixel commented on #37
I think I finished my part on this benchmark.

@Heloisecs if you finished yours, please move this task to review.

[2018-10-01 23:38] vjpixel commented on #65
It still misses info for artists and curators

[2018-10-01 23:55] vjpixel commented on #29
the file name is ARTISTS.md

[2018-10-02 18:43] pablodiegoss commented on #61
I've added the arts on the app, however only some worked, most were out of markers or the patts were not being recognized. Until now, we got working:
Hiro
Peixe
Andando
Robo-Pula
Robo-Rodas
Robo3dAndando
Robo3dVoando
Saucer
Temaki

[2018-10-02 23:10] #6 closed

[2018-10-02 23:10] #52 closed

[2018-10-02 23:10] #51 closed

[2018-10-02 23:10] #58 closed

[2018-10-02 23:10] #57 closed

[2018-10-02 23:10] #66 closed

[2018-10-02 23:37] pablodiegoss opened #70 "Prepare priority artworks for intervention"
Some markers need to be remade and adjusted with urgency.
They are:
- [x] Temaki
- [x] Robo-rodas
- [ ] Tokusatsu
- [x] Gueixa
- [ ] Antipodas
- [x] Samurai

[2018-10-02 23:41] Heloisecs commented on #67
To interact, go to:
jandig.memelab.com.br
Little thing about jandig an open project
Help us: take a sticker, stick it and post a pic.
#jandig

[2018-10-03 00:00] vjpixel commented on #67
Instructions:
1. In your browser, open http://jandig.memelab.com.br
2. Point your camera to the AR marker
3. See the animation this inspired the printed image

[2018-10-03 00:46] rodrigocam commented on #63
@pablodiegoss can you please review this [document](https://github.com/memeLab/ARte/blob/master/Developers.md) ?

[2018-10-04 00:18] rodrigocam commented on #18
I change our service worker to use [workbox](https://developers.google.com/web/tools/workbox/), locally it works on firefox browser but didn't work for google chrome. Initially the strategie used is to try get the resources from the network first. JavaScript files, the '/' url and all images and .patt are being cached.

[2018-10-04 19:05] pablodiegoss opened #71 "GIF update rate"
Our gif shader is updating images even if they are not being shown, that is costing way too much processing and lagging if we have lots of gif, specially on Safari, on Chrome it looks to be optimizing something and stops lagging after some time running.
Gifs should only be updated if they are being shown and detected by the camera with the respective .patt file

[2018-10-13 02:00] vjpixel opened #72 "distribute Jandigs in GOSH"
distribute stickers in GOSH and ask for people to stick, take a picture and post with geolocation + #jandig

[2018-10-16 23:35] vjpixel commented on #70
I just updated the name from Tokosatsu to Tokusatsu above.

[2018-10-16 23:58] pablodiegoss opened #73 "Create a GIF Shader/Decoder"
Our GIF shader is not capable of showing all types of GIFs, some are bugging out, especially when they have some kind of transparency.

This is our actual shader:
https://github.com/mayognaise/aframe-gif-shader

However this example GIF, does not work fully:
![tokusatsu.gif](https://images.zenhubusercontent.com/58d02bad51aa2c305778fac3/3d3fe561-bdb3-4ee2-bf08-41a2cf0e0496)
Many others too, probabl

[2018-10-17 00:23] vjpixel opened #74 "MozFest + Hacktoberfest"

[2018-10-17 00:37] vjpixel opened #75 "OL week 6 [17-23/10]"
This Week (Week 6)
(1.5 hours) Full cohort call: Participation & Inclusion, Feedback Workshop

In the first half of the call, we’ll be discussing tools you can use to design for participation & inclusion. Afterwards, we’ll be running a Feedback Workshop. You’ll have a chance to give feedback to your fellow cohort members and receive feedback on your own work.

Modules: Building Communities & Commu

[2018-10-17 00:37] #70 closed

[2018-10-17 00:44] Heloisecs opened #76 "Jandig Page"
There should be instructions on how to use the app and a button or link to open the application (Jandig on netlify, our actual deploy)

[2018-10-17 00:47] pablodiegoss opened #77 "Upload Images"
We need a Django route for someone to upload an image and save that on our static files folder.
This can be done with some kind of form and a url like "/upload".

We will use that later to create new Artwork models and show them on AR.

[2018-10-17 00:55] Heloisecs opened #78 "update url on markers"

[2018-10-17 00:56] vjpixel commented on #76
I propose to include:
- that we are in beta
- a QRcode to the GitHub page

[2018-10-17 00:57] vjpixel commented on #67
I propose to include:
- that we are in beta
- a QRcode to the GitHub page
- an marker

[2018-10-17 01:00] vjpixel opened #79 "print stickers and poster"
Print the new versions of the poster and stickers

[2018-10-17 01:02] vjpixel opened #80 "plan MozFest exhibition"
based on https://github.com/MozillaFestival/mozfest-program-2018

[2018-10-17 01:09] vjpixel commented on #78
I think that right now we can focus on the 4 markers that are working.

[2018-10-17 01:09] vjpixel commented on #78
We will use the URL of the GitHub page

[2018-10-17 01:20] Heloisecs opened #81 "Create post on medium"

[2018-10-17 22:37] vjpixel opened #83 "create open communication channels"
- [x] Include info about the team on the README, with personal Twitter accounts
- [x] Create a public Telegram channel for interaction between developers, curators and artists
- [x] Include the gallery in the README

[2018-10-17 23:35] vjpixel opened #84 "produce materials to print"
- [x] t-shirt (cover and back)
- [ ] cube faces (markers)
- [ ] top cube faces "Jandig: Art in Augmented Reality"
- [x] poster "stick it"
- [x] poster "take it home" (the same of GOSH, reviewed)
- [x] stickers 5 mm, 10 mm, 15 mm

[2018-10-17 23:37] vjpixel commented on #84
I'll answer ASAP the size of the boxes

[2018-10-19 13:06] vjpixel commented on #72
![img_20181013_131529025](https://user-images.githubusercontent.com/1034796/47219936-add07b80-d386-11e8-94cb-8ddf5887d330.jpg)
![img_20181013_131617744](https://user-images.githubusercontent.com/1034796/47219937-add07b80-d386-11e8-9e4a-dbf5077450f4.jpg)
![img_20181013_131619037](https://user-images.githubusercontent.com/1034796/47219938-add07b80-d386-11e8-984e-f5f8ea3e039e.jpg)
![img_20181013_1316

[2018-10-19 13:09] vjpixel commented on #72
@rodrigocam can you please review this issue?

[2018-10-19 13:10] vjpixel commented on #84
Please add a QR code to the t-shirt and to both posters.

I think that it is good to change the Manekineko for the Samurai because it's well tested. Also, the Manekineko if flicking here.

I'm still waiting for the response of the print shop.

[2018-10-19 13:40] vjpixel commented on #84
When I'm wearing the t-shirt, people almost never ask me about it. I think that if we have the tagline "augmented reality art" will help raise interest.

@Heloisecs what do you think about including this tagline in all materials? Do you think that we should include it also in the stickers?

[2018-10-19 15:14] vjpixel commented on #84
Following is all of my suggestions for the t-shirts.

Front:
- Remove the logo and the link
- Include "#jandig | augmented reality art" in the bottom

Back:
- Change the logo to the version with text
- Include the QR code
- Include the link

[2018-10-24 14:06] #77 closed

[2018-11-01 01:23] vjpixel opened #86 "list 3 examples of amazing READMEs"
List examples of READMEs of 3 different projects to we to benchmark, so we'll have the best README ever!

[2018-11-06 14:47] Heloisecs commented on #78
@vjpixel review

[2018-11-06 14:47] Heloisecs commented on #84
@vjpixel review

[2018-11-06 14:51] Heloisecs commented on #76
@pablodiegoss review please :D

[2018-11-06 18:48] Heloisecs opened #87 "Experiments - Jandig logo"
I was experimenting with animating our logo for the splash screen

![splash_1.gif](https://images.zenhubusercontent.com/5aa135ff4b5806bc2bc9fc61/ca94e5c9-9443-4723-a4f8-7d2357f071d3)

[2018-11-06 20:46] vjpixel opened #88 "Sign MOSS contract"
Send info and sign the contract from the MOSS seed award,

[2018-11-17 22:59] vjpixel commented on #80
Can you please review, @Heloisecs ?

[2018-11-17 22:59] vjpixel commented on #80
https://www.instagram.com/p/BpfEBP5BwoM/

[2018-11-17 23:00] vjpixel commented on #79
@Heloisecs ping

[2018-11-17 23:00] vjpixel commented on #44
@Heloisecs ping

[2018-11-17 23:02] vjpixel commented on #72
@rodrigocam ping

[2018-11-17 23:03] vjpixel commented on #24
Can you please review @rodrigocam

[2018-11-17 23:04] vjpixel commented on #53
can you pleasereview @pablodiegoss

[2018-11-17 23:05] vjpixel commented on #59
Can you please review @rodrigocam ?

[2018-11-17 23:24] vjpixel commented on #86
1. https://github.com/Day8/re-frame - the narrative is beautiful, and I love the last section

2. https://github.com/teles/array-mixer - because of the TOC and the design

3. https://github.com/sourcerer-io/sourcerer-app - I love the Contributing section... please open the Hall of Fame

there's a nice list and other examples here: https://github.com/matiassingers/awesome-readme

[2018-11-17 23:25] vjpixel commented on #86
Can you please review @pablodiegoss ?

[2018-11-17 23:29] vjpixel commented on #83
done!
https://github.com/memeLab/ARte/blob/master/README.md

[2018-11-17 23:30] vjpixel commented on #83
Can you please review, @rodrigocam ?

[2018-11-18 12:35] Heloisecs commented on #65
https://github.com/memeLab/ARte/issues/86

[2018-11-18 12:36] Heloisecs commented on #87
@pablodiegoss review aí

[2018-11-18 12:44] rodrigocam commented on #72
Nice pics!

[2018-11-18 12:44] #72 closed

[2018-11-18 12:49] #24 closed

[2018-11-18 13:19] #79 closed

[2018-11-18 13:19] #44 closed

[2018-11-18 13:19] #78 closed

[2018-11-18 13:19] #84 closed

[2018-11-18 13:19] #80 closed

[2018-11-18 13:20] vjpixel commented on #75
Considering that we'll do OL again, and all here is optional, I want to pass this on.

[2018-11-18 13:23] Heloisecs opened #89 "Jandig stickers"
make Jandig sticker jpg (visualization) and pdf (print)

[2018-11-18 13:24] pablodiegoss opened #90 "Create a way to mock the camera"
Our Application can only run on the real camera, would be interesting to run it without it, using a static image or video

[2018-11-18 13:29] pablodiegoss opened #91 "Create a way to test the detection of a patt"
There is only one way to test if a patt is being correctly detected and that is manually.

Would be nice to select a image containing the marker and the tool showed some info if it has been detected or not.

[2018-11-18 13:29] #71 closed

[2018-11-18 13:30] pablodiegoss commented on #73
Our problem has been solved on this pull request for the GIF component
https://github.com/mayognaise/aframe-gif-shader/pull/8

[2018-11-18 13:30] #73 closed

[2018-11-18 13:31] rodrigocam opened #92 "Fix new GIF component to IOS devices"
With the new a-frame gif componenet IOS devices are unable to open the application, this issue must to be fixed.

[2018-11-18 13:33] pablodiegoss opened #93 "Open Leaders application"
Send a new application for Mozilla Open Leaders.

[2018-11-18 13:34] vjpixel commented on #93
The application we sent to OL round 6:
https://docs.google.com/document/d/1NJmRVS_OrPNSeGMmbjdqvn-iXga0fLMAVCn4Bf15wUo/edit#heading=h.t8ulsnl97xio

[2018-11-18 13:35] vjpixel commented on #93
You can say in the application that we're applying again because we want the mentorship.

[2018-11-18 13:36] vjpixel commented on #93
I can review/edit the application before you send it.

[2018-11-18 13:37] pablodiegoss opened #94 "Create a Patt generator"
Include on the application a way to generate patts based on a image

[2018-11-18 13:42] vjpixel commented on #93
Please send me to review until November 27th.

[2018-11-18 13:54] vjpixel opened #95 "create a spreadsheet with project finances"

[2018-11-30 21:34] pablodiegoss commented on #95
Looks ok, like we agreed.

[2018-11-30 21:35] pablodiegoss commented on #87
Que formato é isso? precisamos checar como inserir na splash screen

[2018-11-30 21:35] #87 closed

[2018-11-30 21:35] #76 closed

[2018-11-30 21:37] pablodiegoss commented on #63
Looks nice, should be fine to get some extra contributors

[2018-11-30 21:37] #63 closed

[2018-11-30 22:11] vjpixel commented on #22
Photos: https://photos.app.goo.gl/oMQQpZBdjCzcFB418

[2018-11-30 22:11] vjpixel commented on #22
Can you please review @rodrigocam

[2018-11-30 22:14] vjpixel commented on #74
Photos of MozFest: https://photos.app.goo.gl/CaRHqokVuT1DisUn7

@rodrigocam , can you please review?

[2018-11-30 22:18] vjpixel commented on #88
I sent the link to the file on Telegram.

Can you please review @Heloisecs ?

[2018-11-30 22:47] #93 closed

[2018-11-30 22:48] pablodiegoss commented on #86
Looks nice

[2018-12-05 19:29] vjpixel commented on #75
the feedback from the workshop was to improve the README (so I created the issue #65) and to create open channels to make easier to contributors to get involved (so I created #83 ). since all the assignments here are optional, and there are more important priorities, I decided to skip them.

[2018-12-05 19:40] vjpixel commented on #53
Mission: We're working with developers, artists and curators to build an open Augmented Reality and New Media art tool so that public, artists and curators can create, make and experiment with new media art and new technologies more easily, in an accessible manner.

Where do you think is the best place for we to have our mission? @Heloisecs

[2018-12-05 19:43] vjpixel commented on #53
the roadmap is here: https://github.com/memeLab/ARte/blob/master/ROADMAP.md

it needs to be updated when we officially start UFABC project (so I created #64, now on Icebox).

[2018-12-05 19:47] vjpixel commented on #86
I reopened this issue because we need to decide what to be modified in the README and put in #65

[2018-12-05 19:49] vjpixel commented on #83
I reopened this issue because it needs to be presented in the Sprint Review.

[2018-12-05 19:51] vjpixel commented on #59
I reopened this issue because it needs to be presented in the Sprint Review.

[2018-12-05 19:52] vjpixel commented on #68
I reopened this issue because there are picture still to be pulished.

[2018-12-05 19:54] vjpixel commented on #95
I reopened this issue because it needs to be presented in the Sprint Review.

[2018-12-05 20:34] #75 closed

[2018-12-05 21:15] vjpixel commented on #53
We started discussed value proposition from: "Jandig is a free and open platform that brings people interested in art together to create and share AR content. It is an easy way to artists to publish collaborative content in AR, and to the public to visualize it."

[2018-12-05 21:37] vjpixel commented on #65
To improve the README, we're going to use #86 as benchmark.

[2018-12-05 21:37] #86 closed

[2018-12-05 21:40] #83 closed

[2018-12-05 21:41] #95 closed

[2018-12-05 23:49] vjpixel opened #96 "define goals for users/artists/curators for the launch"
define how many users/artists/curators we want to have reached 1 month after the launch of ARte.

[2018-12-11 23:07] #53 closed

[2018-12-11 23:07] #88 closed

[2018-12-11 23:09] #81 closed

[2018-12-11 23:12] vjpixel commented on #61
the content from the first exhibition are missing.

[2018-12-11 23:18] pablodiegoss opened #97 "Create a GIF analyser"
Using our GIF decoder and shader component, create a GIF analyser as a single html page that i access a GIF and can see each frame, moving with a button "next frame" "previous frame", that will enable a debug in each GIF frame to see where are our remaining problems in decoding/animation of artworks.

[2018-12-11 23:18] Heloisecs commented on #65
ask for specific help on readme

[2018-12-15 21:46] rodrigocam opened #98 "iOS PWA bug"
There is a bug with pwas on iOS devices, where all cached files just disappears when the safari is closed. This bug prevents ARte to run without internet. Apparently a patch was made but there is no date to this patch comes for iOS update.

Here goes some links for the discussion:
https://github.com/PWA-POLICE/pwa-bugs#problem-in-ios-12-cache-in-cache-storage-magically-disappears
https://stackover

[2018-12-18 14:03] Heloisecs commented on #32
Here are the [Jandig app Screens on Zeplin](zpl.io/awWrd6g), @pablodiegoss @vjpixel and @rodrigocam review, please!

[2018-12-18 14:06] Heloisecs opened #99 "Export icons with background for Android and IOS"
Icons exported from Sketch and sent to @pablodiegoss
preview:
![image.png](https://images.zenhubusercontent.com/5aa135ff4b5806bc2bc9fc61/b60aa1fa-57b0-4c9d-961b-b23221bac6a3)

@vjpixel please review

[2018-12-18 14:08] Heloisecs commented on #65
![image](https://user-images.githubusercontent.com/9471715/50159334-95fd7100-02bd-11e9-91b9-ba642c8356db.png)
@rodrigocam please review

[2018-12-18 16:31] vjpixel commented on #99
I'm not sure how they'll look like on the system. I couldn't find any icon with a gradient in the background, and I think this isn't going to look well.

@pablodiegoss , can you please insert them in the app so I can have a look?

[2018-12-18 16:35] vjpixel commented on #32
I got a message saying "you're not invited to this project"

[2018-12-19 21:34] rodrigocam commented on #65
To me is ok, but i think @vjpixel should review too!

[2018-12-19 23:35] vjpixel commented on #61
I've just created the folder z_MARKERS, in the Campus Party 2012 folder, with the images of the markers.

If you want them in another resolution, just tell me.

[2019-01-12 23:51] rodrigocam commented on #98
This bug was fixed on iOS 12.1.2 version.

[2019-01-12 23:51] #98 closed

[2019-01-24 22:58] vjpixel opened #100 "send proposal to Sesc"
including budget for development.

[2019-01-24 23:13] rodrigocam opened #101 "Content lazy load"
All the contet of the app has to be lazy loaded

[2019-01-24 23:20] #65 closed

[2019-01-24 23:20] #32 closed

[2019-01-24 23:21] pablodiegoss commented on #99
They have been added to this last version! Online on our new server.

[2019-01-24 23:21] #99 closed

[2019-01-24 23:22] #97 closed

[2019-01-24 23:29] rodrigocam opened #102 "Buy jandig domains"
Buy the domains for the website and the app

[2019-02-04 22:22] vjpixel commented on #41
I want to review this one

[2019-02-07 22:54] rodrigocam opened #103 "Organize this repo"
- [x] Organize the root of the repo
- [x] Change zenhub to projects
- [x] Contribution guidelines - related #107
- [x] Improve roadmap  - related #64 #108 #74

[2019-02-07 23:04] pablodiegoss opened #104 "Implement the tutorial screen"
We have a 3 step tutorial that should be implemented for new users to introduct the app usage

[2019-02-07 23:05] vjpixel opened #105 "research for patt similarities"
check if there's a way to compare 2 matrixes to check if they're too similar.

[2019-02-07 23:30] pablodiegoss opened #106 "Take Photos with Jandig"
Using a button on the center of the screen, should be possible to take a picture of the Augmented Reality artwork being shown and save that to the local storage with correct metadata and dates.

![Capturar.PNG](https://images.zenhubusercontent.com/58d02bad51aa2c305778fac3/9378491e-d6af-4cc2-afa4-21dc2a8318bb)

[2019-02-18 23:52] nohorse opened #107 "make CONTRIBUTERS.md"
make a nice contributors.md and show folks how to best contribute.  Use the "great first issue" tag to  call out easy issues.

[2019-02-18 23:55] nohorse commented on #107
the developers.md is a good example.  using things like good first issue can attract some folks who might not be able to contribute code.

[2019-02-18 23:57] nohorse opened #108 "update roadmap"
the existing roadmap.md is out of date.

[2019-02-19 00:12] #2 closed

[2019-02-19 00:41] rodrigocam commented on #59
Outdated

[2019-02-19 00:41] #59 closed

[2019-02-20 19:33] rodrigocam commented on #50
A new library is being made to substitute AR.js, here is the repo https://github.com/rodrigocam/ar-gif

[2019-02-21 10:41] vjpixel commented on #108
Hi @pablodiegoss ,

Since the focus of this document is to communicate with people outside our group, I propose to you to take off all references to UFABC and put the information straight in the document or link the details in another document (s).

[2019-02-21 15:09] Heloisecs commented on #39
[manualdamarca.pdf](https://github.com/memeLab/ARte/files/2889808/manualdamarca.pdf)
@vjpixel can you review it please?

[2019-02-21 15:15] Heloisecs commented on #38
[hor_colors_ara.pdf](https://github.com/memeLab/ARte/files/2889823/hor_colors_ara.pdf)
[hor_colors.pdf](https://github.com/memeLab/ARte/files/2889824/hor_colors.pdf)
[hor_mono_1.pdf](https://github.com/memeLab/ARte/files/2889825/hor_mono_1.pdf)
[hor_mono_ara_white.pdf](https://github.com/memeLab/ARte/files/2889826/hor_mono_ara_white.pdf)
[hor_mono_white.pdf](https://github.com/memeLab/ARte/files/2

[2019-02-22 20:56] vjpixel commented on #38
thank you!

[2019-02-22 21:01] vjpixel commented on #39
Amazing!

The only issue I found it that my name was written with a capital P. Can you please put it in lowercase?

Thank you!

[2019-02-27 22:24] nohorse opened #109 "get early access the HP Reveal SDK/API"
@Nohorse can help!

[2019-03-01 22:27] #92 closed

[2019-03-01 22:34] rodrigocam commented on #103
The new root of the repo is at branch [new-structure](https://github.com/memeLab/ARte/tree/new-structure), must passed by a review

[2019-03-01 22:36] rodrigocam commented on #103
@vjpixel do you have any improvements in mind for the contribution guidelines?

[2019-03-01 22:47] rodrigocam opened #110 "Create a call for beta testers"
Invite people to test our app at beta version.

[2019-03-01 22:56] vjpixel opened #111 "send message with testing instructions to beta testers"

[2019-03-01 22:58] rodrigocam opened #112 "Drop AR.js dependency"
Migrate from AR.js to [ar-gif](https://github.com/rodrigocam/ar-gif)

[2019-03-01 23:13] vjpixel opened #113 "Debug Tokusatsu"

[2019-03-07 00:40] vjpixel commented on #61
The markers we're going to use in the next 2 months are:
Antípolas
Gueixa
Manekineko
Plan 9
Robô 3D Andando
Robô 3D Voando
Robôs
Samurai
Temaki

And right now a small team is working in 2 new artworks that will be added to this list.

[2019-03-07 01:10] vjpixel commented on #61
Plan 9 = Flying Saucer

I've just checked the "patts" and "images" folders, only "Robôs" is missing.

I've also updated "views.py" making some artworks active and ordering the active artworks.

[2019-03-07 01:56] vjpixel commented on #110
@rodrigocam @pablodiegoss

I'm going to create a form, so we know what brands/models/versions we tested. What info do you need for debugging?

[2019-03-07 23:54] rodrigocam commented on #110
It would be nice if we have:

- Operation system version
- Browser version
- Device model
- Experience using after adding to homescreen
- Experience using as website

[2019-03-08 22:16] vjpixel commented on #102
@rodrigocam can you please review?

[2019-03-08 22:18] vjpixel commented on #113
@pablodiegoss can you please review? I've copied you on the e-mail.

[2019-03-09 00:31] vjpixel commented on #110
At this moment, the plan is to send the call for small groups of people, most of them in Brazil, so I'm writing in Portuguese.

Olá,

Faço parte da Iniciativa Jandig, que une artistas, programadores e interessados na criação de exposições em realidade aumentada. O site, com vídeos que ajudam a entender melhor, está aqui: http://jandig.art

Em 2011 desenvolvemos um software para Android, e atualiza

[2019-03-09 16:46] vjpixel commented on #111
1. Go to http://jandig.app
2. Allow the use of the camera
3. Add the app to you homescreen
4. Point the camera to the markers
5. Using the blue button, take a picture of the markers
6. Close the app and open it from the icon.
7. Reply this e-mail answering the following questions
- Did you manage to see all markers? In case there's any, what marker you didn't see?
- Did any marker flick?
- Opennin

[2019-03-09 21:26] vjpixel commented on #103
nop

[2019-03-10 17:46] vjpixel opened #115 "Update README.md"
I followed the instructions on the README.md, but when I tried the command "docker-compose up" I got an error. I solved writing the same command (with sudo before) in the "docker" folder.

[2019-03-11 18:28] #103 closed

[2019-03-11 18:28] #107 closed

[2019-03-11 18:28] #108 closed

[2019-03-11 18:28] #74 closed

[2019-03-11 18:30] rodrigocam commented on #102
@vjpixel which domain is the website domain? I forgotten haha

[2019-03-12 14:06] vjpixel commented on #102
jandig.art - website
jandig.app - application

[2019-03-13 02:46] rodrigocam commented on #102
Checked

[2019-03-13 02:46] #102 closed

[2019-03-14 23:11] #50 closed

[2019-03-14 23:12] rodrigocam commented on #112
We are now using ar-gif instead AR.js

[2019-03-14 23:23] rodrigocam commented on #115
Aldo needs to change instructions of development with https

[2019-03-14 23:27] vjpixel commented on #39
@Heloisecs can you please send this as an open file?

[2019-03-14 23:30] vjpixel commented on #13
I've updated the file yesterday.

[2019-03-14 23:36] #10 closed

[2019-03-14 23:36] #21 closed

[2019-03-14 23:36] #100 closed

[2019-03-14 23:36] #37 closed

[2019-03-14 23:36] #110 closed

[2019-03-14 23:36] #112 closed

[2019-03-14 23:37] #111 closed

[2019-03-14 23:37] #106 closed

[2019-03-14 23:37] #61 closed

[2019-03-14 23:38] rodrigocam commented on #101
We are now using ar-gif and this library lazy load the gifs, delaying the gif download untill the marker be detected.

[2019-03-14 23:38] #101 closed

[2019-03-14 23:41] rodrigocam commented on #18
We have different manifests, one for iOS and one for Android working. We also have a service worker using workbox with a naive cache plan, using network first always.

[2019-03-14 23:41] #18 closed

[2019-03-15 00:35] pablodiegoss opened #116 "Update Deploy Script"
The update script should delete the docker web image, clean the static files and should not delete the new markers or GIFs

[2019-03-15 00:37] pablodiegoss opened #117 "Create an app button on the site"
insert a 'call to action' to people to open the jandig.app

[2019-03-15 01:20] pablodiegoss opened #118 "Add to homescreen not working"
Sometimes we are unable to install the app using the PWA default way, the add to homescreen.

[2019-03-15 01:22] pablodiegoss opened #119 "Save image to Gallery, even offline"
Sometimes we are unable to save images, download crashes as "unknown error", and saving as a download is impossible offline, so we need to save the file another way

[2019-03-15 21:28] vjpixel opened #120 "imediate changes to website"

[2019-03-15 22:23] vjpixel opened #121 "modify footer"
take out:
- [x] QR code
- [x] Google Play button
- [x] Acervo
- [x] Política de privacidade

insert:
- [x] Instagram URL
- [ ] Newsletter form

[2019-03-15 22:26] vjpixel opened #122 "apply new layout"

[2019-03-15 22:42] hvalois commented on #122
![20190315_192747](https://user-images.githubusercontent.com/4933914/54465539-69d97b00-475a-11e9-8478-df39b599c06a.jpg)

[2019-03-15 22:43] DemPort opened #123 "Insert all new markers"
**Markers to the website:**
- [x] delete all animations
-------
image from: (Herbert will send)
texts from: (website or pixel himself)
- [x] aintipodas
- [x] gueisha
- [x] Manekineko
- [x] Pedrinhazinha
- [x] Peixe
- [x] Plan 9
- [x] Robô 3D Andando
- [ ] Robô 3D Voando
- [x] Robô Andando
- [x] Robô Pulando
- [x] Robô Rodas
- [ ] Robôs
- [x] Samurai
- [x] Sexy na Janela
- [x] Temaki
- [x] Tokusats

[2019-03-15 22:48] hvalois opened #124 "Insert contact form"
Create a page with a contact form.

[2019-03-15 23:01] hvalois opened #125 "'Mobile-first'ize website"

[2019-03-15 23:07] DemPort opened #126 "Fazer "Títulos" para Home e etc"
**_ Titulos da Home **
- [x] Abertura (Veja o app)
- [x] Form (entrar na rede)
- [x] Acervo (obra dos artistas)
- [x] Exposições
- [x] Clipping
- [x] Form de contato (direcionado ao público comprador)

**_ TXT abertura das páginas internas**
- [x] Acervo (obra dos artistas)
- [x] Exposições
- [x] Clipping

[2019-03-15 23:19] vjpixel opened #127 "5. insert infos on Jandig artworks database"
Insert credits for marker and animation

https://docs.google.com/spreadsheets/d/1OKuHW14ord78NFsWmfTfNP1EK_uHTaZaa2QAnKI3AYw/edit#gid=0

[2019-03-20 23:06] DemPort commented on #126
A parte de Clipping decidirmos não deixar em destaque na primeira página mas deixa-lo acessível dentro da página interna: Eventos e Acervo - além de aparecer no menu geral.

A seguir textos desevolvidos:
--
<PAGINA = HOME>

//// TEXTO DE ABERTURA:

_TITULO
"ATIVAR JANDIG:
Para ativar o software de realidade aumentada, basta liberar sua camera e aponta-la para um marcador Jandig."

_ BOTÃO:
"Clique

[2019-03-21 00:27] vjpixel commented on #126
- [ ] The form text should be more appealing.
- [ ] Review text on the exhibitions page.
- [ ] Take out "responderemos quando for humanamente possível.

I'll need to review again after it's online. It's not so easy to evaluate the quality of the text.

[2019-03-21 02:13] DemPort commented on #123
Temos 16 marcadores enviados pelo Herbert e inseridos no site.
faltam 2 marcadores da lista, ainda a serem enviados para serem inseridos no site

[2019-03-21 13:16] #117 closed

[2019-03-23 21:50] rodrigocam commented on #115
The section [Running](https://github.com/memeLab/ARte/blob/master/README.md#running) now covers permission error and I've also added https development instructions.

[2019-03-26 00:52] vjpixel opened #128 "panic on the Firefox"

[2019-03-26 00:55] rodrigocam opened #129 "Add friendly message in iOS browsers others than safari"
Since only safari supports camera access in iOS, add a message to users open the app at safari when accessing through any browser other than safari.

[2019-03-26 00:57] rodrigocam opened #130 "Image crop when turning the smartphone from portrait to landscape"
The resize when change the view from portrait to landscape is wrong, cropping the image or distorting

[2019-03-27 23:18] rodrigocam opened #131 "Get access to HP reveal"
@nohorse may you get access to HP reveal for us? It would be pretty cool!

[2019-03-29 01:24] rodrigocam commented on #129
Added an alert for iOS users that open the app with a browser other than Safari.
Tested with iOS Chrome and Firefox.

Related commit: https://github.com/memeLab/ARte/commit/bf0bbcf66ca081fc7b9d952014cc01c94c356369

[2019-04-04 01:52] rodrigocam opened #132 "Add lighthouse tests"
[Lighthouse](https://developers.google.com/web/tools/lighthouse/?hl=pt-br) is a tool to test the quality of web apps, it would be good if we perform some tests on our platform.

[2019-04-04 02:01] rodrigocam opened #133 "Submit the app to pwa.rocks"
Submit the app to [pwa.rocks](https://pwa.rocks/), to get more visibility of the PWA community.

[2019-04-04 02:24] rodrigocam commented on #32
This link is broken, the good one is this https://zpl.io/awWrd6g (:

[2019-04-06 21:29] rodrigocam commented on #119
I think a fixed this issue with the commit 624f9ad7cd11fea110ede43d6eeca9908e5c4f2e I need more reviews to close this!

Tested with:
  - iphone 6 - Safari 12.2
  - Tablet HDT-7427G - Chrome 73.0.3683.90

[2019-04-06 21:42] rodrigocam commented on #128
I was not able to reproduce this error yet

Tested using Firefox 66.0.2

[2019-04-06 21:44] rodrigocam commented on #130
That issue is being resolved in this PR https://github.com/rodrigocam/ar-gif/pull/11

[2019-04-07 21:37] rodrigocam opened #134 "Add init-production.sh to run on startup"
Run init-production.sh script on production server startup, given that we are having troubles with our server going down, this will enhance re-up the service.

[2019-04-08 13:47] pablodiegoss commented on #130
Issue fixed, just waiting for the review on the PR. Apparently already fixes our problems with screen size and rotation

[2019-04-09 01:03] pablodiegoss opened #135 "Send console log for dream host"

[2019-04-09 01:03] pablodiegoss opened #136 "Add SESC article on readme"

[2019-04-09 01:04] pablodiegoss opened #137 "Reorganize telegram groups"

[2019-04-09 01:05] pablodiegoss opened #138 "Implement Bot for bidaily scrums on telegram"

[2019-04-09 01:05] vjpixel commented on #137
Delete Jandig Team
Include Hebert and Demetrio on Jandig Dev
Rename Jandig Dev to Jandig Team

[2019-04-09 01:09] hvalois opened #139 "Create app wireframe"

[2019-04-09 01:10] pablodiegoss opened #140 "Revisar Issues #26 #30 e #37"

[2019-04-09 01:11] pablodiegoss opened #141 "Install Jandig following readme"

[2019-04-09 01:14] pablodiegoss opened #142 "Add all new corrections to get reviews"
Issues #129 #119 and #130 need to be reviewed, but are not online on jandig.app link, they need to be accessible for reviewing

[2019-04-09 01:21] hvalois opened #143 "Read project documentation"

[2019-04-11 10:00] vjpixel opened #144 "Prepare workshop for artists"

[2019-04-13 17:10] rodrigocam commented on #132
First [Lighthouse Report.pdf](https://github.com/memeLab/ARte/files/3076496/Lighthouse.Report.pdf)

[2019-04-13 18:04] rodrigocam opened #145 "Add gzip compression to nginx"
Add gzip configuration to compress the static files

[2019-04-13 18:07] rodrigocam commented on #132
Second
[Lighthouse Report.pdf](https://github.com/memeLab/ARte/files/3076549/Lighthouse.Report.pdf)

[2019-04-13 18:46] rodrigocam commented on #118
Can't reproduce

[2019-04-22 14:06] vjpixel opened #146 "notification system"
Would be nice if an artist receive notifications when someone create a new artwork or include this artist's work in an exhibition, by example.

[2019-04-23 04:54] vjpixel commented on #137
can you please review @rodrigocam

[2019-04-23 04:54] vjpixel commented on #135
can you please review @pablodiegoss

[2019-04-23 04:55] vjpixel commented on #127
can you please review @hvalois

[2019-04-23 05:00] vjpixel commented on #4
link for the report (in Portuguese): https://docs.google.com/document/d/1AiGKCRypzR1Y28j_A1M2o1yRbRBHYz3xYo3inIoHyvM/edit?usp=sharing

[2019-04-23 08:36] therealbop commented on #109
👀 im interested in getting early access

[2019-04-24 21:38] hvalois commented on #139
This is a redesigned _processes (?) map_, which includes some of the complexities that the project gained in the past months. Besides that, this map is a guide to the wireframe document I'll post right away.

Please, share your thoughts about it,

[Mapeamento de Processos V2.pdf](https://github.com/memeLab/ARte/files/3114282/Mapeamento.de.Processos.V2.pdf)

[2019-04-24 21:41] hvalois commented on #139
And her's the much awaited wireframe first proposal.

Have fun.

[Wireframe Jandig.pdf](https://github.com/memeLab/ARte/files/3114292/Wireframe.Jandig.pdf)

[2019-04-25 22:51] vjpixel commented on #136
I added a link to the clipping, so it's possible to read other articles as well.

[2019-04-25 22:56] vjpixel commented on #144
link for the presentation:

https://docs.google.com/presentation/d/1c2Zd125DlH8DsmgXCNXm7m5uV1B6CCMTz2xbghyC4Ic/edit?usp=sharing

[2019-04-28 21:22] #129 closed

[2019-04-28 21:23] #94 closed

[2019-04-28 21:24] pablodiegoss commented on #130
Issue solved on the rodrigocam/ar-gif#11, tested on most phones and seems much better

[2019-04-28 21:25] pablodiegoss commented on #119
Work most of the times, seems that we have another problem, got a user saying that received a "unknown error" and "network error" from the button, no idea how to replicate, needs investigation and probably another issue

[2019-04-28 21:25] #119 closed

[2019-04-28 21:27] pablodiegoss commented on #142
Issues got reviewed and are online on production environment

[2019-04-28 21:27] #142 closed

[2019-04-29 21:45] #136 closed

[2019-04-29 21:45] #115 closed

[2019-04-30 02:18] #4 closed

[2019-04-30 02:19] pablodiegoss commented on #140
@hvalois Any reports on this for review?

[2019-04-30 02:20] #139 closed

[2019-04-30 02:21] #132 closed

[2019-04-30 02:41] rodrigocam opened #147 "Create home page with first access feature"

[2019-04-30 02:41] rodrigocam opened #148 "Change current exhibition"
Being able to use different exhibits with different markers
something like:
jandig.app/exhibit1
jandig.app/museum2

[2019-04-30 02:42] rodrigocam opened #149 "User signup"

[2019-04-30 02:42] rodrigocam opened #150 "User login"

[2019-04-30 02:42] rodrigocam opened #151 "Drawer button"

[2019-04-30 02:44] rodrigocam opened #152 "Take picture redirect to the picture page"
Redirect to a page with the picture for sharing the content.

[2019-04-30 02:44] pablodiegoss opened #153 "Create Exhibit"

[2019-04-30 02:44] rodrigocam opened #154 "Get involved page"
The page on the main menu saying how to get involved

[2019-04-30 02:44] rodrigocam opened #155 "7. Exhibition List"
Also artworks list inside this view

[2019-04-30 02:44] pablodiegoss opened #156 "7. List Artworks on Exhibit information"

[2019-04-30 02:45] pablodiegoss opened #157 "Edit Profile Information"
User should be able to edit his profile information

[2019-04-30 02:45] pablodiegoss opened #158 "Upload Item - Marker or GIFs"
You should be able to upload markers and GIFs to the jandig app

[2019-04-30 02:45] pablodiegoss opened #159 "Create Artwork"

[2019-04-30 02:46] pablodiegoss opened #160 "List User own Exhibit"

[2019-04-30 02:46] rodrigocam opened #161 "As an user, I want to see the name of a content, so I can identify it."
Make a modal page to visualize a list of markers or artworks being able to select them

[2019-04-30 02:46] pablodiegoss opened #162 "List User own artworks"

[2019-04-30 02:47] pablodiegoss opened #163 "List User Own objects"

[2019-04-30 15:07] vjpixel commented on #32
![Screenshot from 2019-04-30 12-05-41](https://user-images.githubusercontent.com/1034796/56971939-854ce980-6b40-11e9-8787-818a60be8b6c.png)
![Screenshot from 2019-04-30 12-05-52](https://user-images.githubusercontent.com/1034796/56971941-854ce980-6b40-11e9-9407-1023fda80edf.png)
![Screenshot from 2019-04-30 12-06-00](https://user-images.githubusercontent.com/1034796/56971942-854ce980-6b40-11e9-83d

[2019-04-30 23:03] hvalois opened #164 "Review Issue #32"
GOAL: Incorporate previous elaborated flow designs by Heloise in App wireframe.

[2019-04-30 23:15] hvalois opened #165 "Create App Wireframe (second version)"
To do:

- [x] Incorporate feedback from team made on Sprint meeting

- [x] Review structure with pixel

- [x] Search for additional feedbacks

- [x] Suggest 'user friendly' terms on wireframe document

- [x] Incorporate 'Quick Artworks' and 'Add to Exhibition Choosing' interfaces

[2019-04-30 23:21] hvalois opened #166 "First UI design samples"

[2019-04-30 23:25] hvalois commented on #166
To do:

- [ ] Elaborate main UI styles

- [ ] Design AR viewer / App content switcher

- [ ] Design a visual representation of the drawer menu

- [ ] Design the login / register screens

[2019-05-02 01:09] vjpixel commented on #140
@hvalois ping

[2019-05-02 01:11] vjpixel commented on #144
a picture from the workshop.

![index](https://user-images.githubusercontent.com/1034796/57052501-077f0000-6c5e-11e9-872e-8cd889b5112d.jpeg)
@pablodiegoss please review.

[2019-05-02 01:12] vjpixel commented on #141
@hvalois can you please do that on Windows?

[2019-05-02 01:14] vjpixel opened #167 "update installation instructions"
The instructions are not working. Please test and update them.

[2019-05-02 01:15] vjpixel opened #168 "create installation instructions"
Please add installation instructions for Windows.

[2019-05-02 01:21] vjpixel opened #169 "review scripts for Marte"
review the scripts of the following artworks that are being produced:
- [x] By Roberta Carvalho
- [x] Museu da Inconfidência
- [x] Igreja de Nossa Senhora do Carmo
- [x] Teatro
- [x] Casa da Ópera
- [x] Cinema
- [x] Casa dos Contos
- [x] Casa de Tiradentes / Igreja São José
- [x] Praça do Rosário
- [x] Casa Guilherme Mansur
- [x] Igreja do Rosário

[2019-05-02 01:22] vjpixel opened #170 "send installation instructions for students"
Send installation instructions for students of UEMG, so they can test new artworks.

[2019-05-02 01:24] vjpixel opened #171 "review the storyboards"
review the storyboards of the following artworks that are being produced:
- [x] By Roberta Carvalho
- [x] Museu da Inconfidência
- [x] Igreja de Nossa Senhora do Carmo
- [x] Teatro
- [x] Casa da Ópera
- [x] Cinema
- [x] Casa dos Contos
- [x] Casa de Tiradentes / Igreja São José
- [x] Praça do Rosário
- [x] Casa Guilherme Mansur
- [x] Igreja do Rosário

[2019-05-02 01:29] vjpixel commented on #27
@hvalois can you please attach the new file here?

Since we're working together on this issue this week, I'm moving this to In Progress.

[2019-05-02 01:36] vjpixel opened #172 "rotate camera capture 90° or remove the photo feature"
Turn the capture of the camera so the orientation of the image is the same of the smartphone.

[2019-05-04 19:07] rodrigocam commented on #167
Can you please give me the steps you are following, which one are not working and a print of the error?

[2019-05-04 19:21] vjpixel commented on #167
The order of the instructions is wrong. I suggest to test then in an clean install.

Also, when I run "ngrok http 8000" I get a 502.

[2019-05-04 19:38] rodrigocam commented on #167
The instructions are right, I was able to run everything fine. If the problem is only with ngrok, try to run

```ngrok http -host-header=rewrite localhost:8000``` instead of ```ngrok http localhost:8000```

[2019-05-04 19:43] vjpixel commented on #167
I don't needed to run docker compose to run ngrok.

[2019-05-04 19:48] rodrigocam commented on #167
ngrok doesn't need anything to run, what it does is to bind (keep observing) the port you pass (in our case 8000) to their servers, then if you doesn't have anything running on port 8000 you will get 502 error, untill the moment you run anything on that port. If you wanna run ngrok first, it's ok, but you have to run docker-compose in another terminal then.

[2019-05-04 22:44] vjpixel commented on #167
when I do "docker-compose up -f docker/docker-compose.yml" I get

Builds, (re)creates, starts, and attaches to containers for a service.

Unless they are already running, this command also starts any linked services.

The `docker-compose up` command aggregates the output of each container. When
the command exits, all containers are stopped. Running `docker-compose up -d`
starts the containers in t

[2019-05-05 17:45] rodrigocam commented on #167
I suggest you to run ```sudo docker-compose -f docker/docker-compose.yml  down``` and ```sudo docker-compose -f docker/docker-compose.yml up --build```

[2019-05-07 00:28] pablodiegoss commented on #167
When you run some docker command like "up" the last parameter must be the name of an image or the some flag for the "up" command, however, the "-f" flag is a docker flag, not a "up" flag, so docker is trying to get up a service named "-f docker/docker-compose.yml" which doesn't exist.

so the order of the parameters matter, should always be something like
docker -f docker/docker-compose.yml <up/do

[2019-05-11 15:10] vjpixel commented on #169
I've reviewed and made notes on these documents:

https://docs.google.com/document/d/1-6jhPxq8FbqEiD0a4ZGWnb_T7_NdOa3Od0iI3GBlaF4/edit?usp=sharing

https://docs.google.com/document/d/1ZNFtNnb0lOHzzmoOP3oH8yu_R88fa0-5lC1oGnXbcJA/edit?usp=sharing

Roberta's project will use an already existing video, so she'll jump to the storyboard.

[2019-05-13 23:24] pablodiegoss commented on #14
Pipeline for building and deploying on different environments create on Gitlab CI/CD
https://gitlab.com/pablodiegoss/ARte/pipelines

The scripts being run are
https://github.com/memeLab/ARte/blob/master/.gitlab-ci.yml

[2019-05-13 23:27] pablodiegoss opened #173 "Create Dev and Staging environments"
We need a Dev environment to test new features and a Staging environment to sum the new features tested on dev.

being worked on new_nginx branch

[2019-05-13 23:45] vjpixel commented on #96
I proposed the number of 100 artists and 100 artworks for MOSS scope, 3 months after the launch (end of August).

@hvalois can you please review.

[2019-05-14 00:51] vjpixel commented on #170
We decided another approach. They'll publish when the upload page is working.

[2019-05-14 00:51] #170 closed

[2019-05-19 19:59] pablodiegoss commented on #147
Got in review, but I couldn't get the first access feature, the text is in the code, but doesn't show up in the home screen by the first use or ever... tried using anonymous navigation and clearing caches with ctrl+f5.

[2019-05-24 22:11] hvalois commented on #165
Hi, people!

Here it goes the complete wireframe, incorporating the points we discussed in the sprint meeting, as well as a handfull of features I just realized were missing, such as search form, filter behaviors in the views pages and stuff like that.

I hope we finaly get an version that covers all the functions and possibilities to an ideal first version. Let me hear what you think about it.

[

[2019-05-31 00:14] pablodiegoss commented on #144
Beautiful photo

[2019-05-31 00:14] #144 closed

[2019-05-31 00:14] vjpixel commented on #169
@hvalois please review

[2019-05-31 00:16] pablodiegoss commented on #14
Pipelines are running smoothly:

dev.jandig.app
staging.jandig.app
jandig.app

[2019-05-31 00:16] #14 closed

[2019-05-31 00:16] pablodiegoss commented on #147
Retested and now works fine!

[2019-05-31 00:16] #147 closed

[2019-05-31 00:16] rodrigocam commented on #150
Can you please review @vjpixel @hvalois ?

[2019-05-31 00:17] rodrigocam commented on #149
Can you please review @vjpixel @hvalois ?

[2019-05-31 00:17] hvalois commented on #165
Please  reviews this, @vjpixel @pablodiegoss @rodrigocam

[2019-05-31 00:17] rodrigocam commented on #153
Can you please review @vjpixel @hvalois ?

[2019-05-31 00:17] rodrigocam commented on #158
Can you please review @vjpixel @hvalois ?

[2019-05-31 00:19] #167 closed

[2019-05-31 00:20] pablodiegoss commented on #173
Running on:
dev.jandig.app
staging.jandig.app

[2019-05-31 00:20] #173 closed

[2019-05-31 00:20] hvalois commented on #140
@pablodiegoss please review

[2019-05-31 00:22] hvalois commented on #164
@rodrigocam please review

[2019-05-31 00:22] pablodiegoss commented on #148
Can you please review @vjpixel @hvalois ?

[2019-05-31 00:23] pablodiegoss commented on #154
Can you please review @vjpixel @hvalois ?

[2019-05-31 00:35] vjpixel commented on #29
we're going to create different files. MARKERS.md, OBJETCS.md, and ARTWORKS.md, and others.

the documents should be n the folder "docs".

[2019-05-31 00:36] vjpixel commented on #27
I need to review this.

[2019-05-31 00:37] pablodiegoss opened #174 "Login and Signup screen locked for scroll"
Some cell phones can't see the whole screen to fill the information for the form, scrolling should be enabled!

[2019-05-31 00:41] vjpixel commented on #171
@hvalois can you please review?

[2019-05-31 00:42] hvalois commented on #27
[Mapeamento.de.Processos.V2.pdf](https://github.com/memeLab/ARte/files/3239228/Mapeamento.de.Processos.V2.pdf)

Can you review this, @pablodiegoss @rodrigocam ?

[2019-05-31 00:42] pablodiegoss opened #175 "Upload object do not enable to select gifs on cellphones"
On a Catterpillar cellphone the upload button wasn't allowing to select a gif to upload as a object, only documents and static images, the file selector should have some bug or ourselves.

[2019-05-31 00:44] vjpixel opened #176 "review animations for Marte"
review the animations being produced for Marte festival

[2019-05-31 00:45] hvalois opened #177 "Apply new images and new reset CSS rules on dev branch"

[2019-05-31 00:46] pablodiegoss opened #178 "Add patt generator to /generator"
#94 this generator couldn't be implemented in python, we tried to integrate it into python using the original JS script, but we can't  fill a form with a file for browser's security reasons, but for now should be available as a static page on the /generator route.

This is the page that should be available on /generator, but not as a redirect
https://jeromeetienne.github.io/AR.js/three.js/examples

[2019-06-01 00:35] hvalois commented on #154
That's ok to me. I only suggest (if that's not already the case) we create later a new issue about includng the static pages content (get involved, about, docummentation, legal text) from mark-up static documents.

[2019-06-02 02:24] pablodiegoss commented on #175
I've just been testing this issue and turns out the validator and the file browser is working fine, the problem is that people were using telegram to send the GIFs to their phones.
Telegram turns the GIF file into a .mp4, gets even renamed to a "file.gif.mp4" which we are unable to parse. If you download a .gif file directly from the browser and use it on the upload object page, it works normally.

[2019-06-02 02:25] pablodiegoss commented on #175
@vjpixel @hvalois Can you guys review this? Try to download a .gif file directly from google or from this repo into your phone, then use it to upload to the staging or dev jandig.

[2019-06-02 16:36] pablodiegoss commented on #178
Generator is available on https://dev.jandig.app/generator/

@vjpixel @hvalois @rodrigocam, can you review and test this?

[2019-06-02 16:40] pablodiegoss commented on #165
Looks nice, I'll start using this one as the basis for the development.

[2019-06-02 16:42] pablodiegoss commented on #140
Nothing to review here :|
@hvalois what have you done on this issue? any links or descriptions?

[2019-06-04 01:55] rodrigocam commented on #165
looks nice to me!

[2019-06-05 22:54] vjpixel commented on #113
I think we have the best version we can have. Can you please review? @pablodiegoss

It's the version on stable right now, so to check it you just need to open the app, point to the marker and watch the animation.

[2019-06-05 22:57] vjpixel commented on #178
In the version that's intalled in our server, we don't have the option to set image size.

Does that make difference, @hvalois ?

[2019-06-05 22:57] vjpixel commented on #140
Since this issues are base for the wireframes, I consider this done.

[2019-06-05 23:17] vjpixel commented on #158
I tested and it's ok.

[2019-06-05 23:18] vjpixel commented on #148
It's how it works. =)

[2019-06-05 23:20] hvalois commented on #158
Ok to me. Moving it to Done.

[2019-06-05 23:22] vjpixel commented on #54
It's how it worls now. =)

[2019-06-05 23:23] vjpixel commented on #153
It works.

[2019-06-06 00:08] hvalois opened #179 "Finish Jandig at Sesc Guarulhos social media ads"

[2019-06-06 00:13] hvalois opened #180 "Send X-Reality activities description for app launch exhibition"

[2019-06-06 00:17] hvalois opened #181 "Share app design sheets"
The design sheet are static graphic files which intend to show the app at work.

I´ll append an .pdf file here as soon as I can.

[2019-06-06 00:24] hvalois opened #182 "Create "Gifs na Parede" definitive exhibition"

[2019-06-06 00:27] hvalois commented on #182
Collect all artworks created at Sesc Guarulhos workshop in a permanent exhibition, in order to share it with the students.

[2019-06-06 14:26] vjpixel commented on #176
can you please review/confirm @hvalois ?

[2019-06-06 19:18] pablodiegoss commented on #113
I've tested tokusatsu, it is better but not 100%, should be ok to use as it is now.

[2019-06-06 19:27] pablodiegoss commented on #148
You select the exhibit on the AR viewer.
![photo5172458050223712240](https://user-images.githubusercontent.com/8556291/59060570-c9d25000-8877-11e9-9ac3-f3be820f2429.jpg)

Or using the direct link for the exhibit that you created:
![photo5172458050223712241](https://user-images.githubusercontent.com/8556291/59060597-d5be1200-8877-11e9-92ff-d0fee41e52cf.jpg)

[2019-06-07 23:14] pablodiegoss opened #183 "Certificate is Broken on staging and prod"
https seems broken, need to check the certificates for staging and prod

[2019-06-08 00:01] vjpixel commented on #148
Works!

[2019-06-08 00:43] pablodiegoss opened #184 "Edit Exhibit"
Edit the artworks inside an exhibit

[2019-06-08 00:45] pablodiegoss opened #185 "Add new icons to the app page"
@hvalois created new icons for artworks, objects and exhibits on a SVG project of a new layout, they should be added to the app

[2019-06-08 00:47] pablodiegoss opened #186 "4. Double click on exhibit selection"
When you select an exhibit, you need to click again to enable the submit button.

[2019-06-08 00:50] hvalois commented on #30
As we just discussed, I believe this is covered for the use of both Processes Map and the App Wireframe.

Can you review this, @vjpixel?

[2019-06-08 00:52] hvalois commented on #181
Repeats issue #166

[2019-06-08 00:53] #181 closed

[2019-06-08 01:00] vjpixel commented on #12
can you please review @pablodiegoss ?

[2019-06-08 01:01] vjpixel commented on #56
can you please review @pablodiegoss ?

[2019-06-08 01:02] pablodiegoss commented on #12
The contract took more than 6 months to arrive, but we received and it is documented on emails.

[2019-06-08 01:02] #12 closed

[2019-06-08 01:02] vjpixel commented on #120
can you please review @pablodiegoss ?

[2019-06-08 01:03] vjpixel commented on #28
won't fix. do you agree @pablodiegoss ?

[2019-06-08 01:05] pablodiegoss commented on #27
This document will probably evolve forever, but this version looks nice, i've asked for the editable version on drive.

[2019-06-08 01:07] vjpixel opened #187 "11. fill content for the pages on the site"
- manual for creating markers
- manual for creating objetcs
- manual for creating an exhibitions

[2019-06-08 01:12] vjpixel commented on #148
@hvalois when you review this please move

[2019-06-08 01:14] vjpixel commented on #175
I've tested and it works as supposed.

an you confirm @hvalois ?

[2019-06-08 01:14] pablodiegoss commented on #28
yes!
It's been a long time since we created this, now we now that it isn't possible to have all patts being scanned at the same time. The pattern detection can have too much conflicts, we wouldn't be sure which marker we are seeing to filter or enable a button "download gif".
Now we have also the feature that the same marker can hold different gifs on different exhibits. So we wouldn't be sure whi

[2019-06-08 01:15] pablodiegoss commented on #174
@vjpixel can you review this?

[2019-06-08 01:19] #28 closed

[2019-06-08 01:19] vjpixel opened #188 "update Legal Agreement for uploading artworks"
I agree in licencing this content in [CC BY-SA 3.0 BR]

Link: https://creativecommons.org/licenses/by-sa/3.0/br/

[2019-06-08 01:20] #158 closed

[2019-06-08 01:20] #154 closed

[2019-06-08 01:20] #113 closed

[2019-06-08 01:20] #153 closed

[2019-06-08 01:20] #27 closed

[2019-06-08 01:20] vjpixel opened #189 "create Legal Agreement for login"
Get a model of legal agreement of another website and adapt for Jandig.

[2019-06-08 01:21] hvalois commented on #140
Issue #26 refers to User Interface
Issue #32 refers to the Process mapping
Issue #37 refers to Benchmarking

The issues are condensed in the elaboration of the new Process Mapping and App Wireframe.

[2019-06-08 01:22] #54 closed

[2019-06-08 01:22] vjpixel commented on #174
I've tested and it works.

[2019-06-08 01:23] #174 closed

[2019-06-08 01:23] #166 closed

[2019-06-08 01:23] #30 closed

[2019-06-08 01:23] #180 closed

[2019-06-08 01:23] #179 closed

[2019-06-08 01:23] #165 closed

[2019-06-08 01:24] #171 closed

[2019-06-08 01:24] #169 closed

[2019-06-08 01:24] #140 closed

[2019-06-08 01:24] #164 closed

[2019-06-08 01:26] hvalois commented on #26
See issue #27

[2019-06-08 01:27] #26 closed

[2019-06-08 01:27] hvalois commented on #26
review this please, @vjpixel

[2019-06-08 01:32] hvalois opened #190 "Create typography CSS rules"

[2019-06-08 01:34] hvalois opened #191 "Create CSS media rules"

[2019-06-08 01:35] hvalois opened #192 "Finish Jandig App Icon Sheet"

[2019-06-08 01:36] hvalois opened #193 "Finish design sheets"

[2019-06-08 01:37] hvalois opened #194 "Create CSS design dummie"

[2019-06-08 01:52] hvalois commented on #33
@vjpixel

[2019-06-08 01:53] hvalois commented on #35
@vjpixel

[2019-06-08 01:54] hvalois commented on #89
@vjpixel

[2019-06-08 01:56] #89 closed

[2019-06-08 01:56] #33 closed

[2019-06-08 01:56] #35 closed

[2019-06-08 01:57] hvalois commented on #23
@hvalois

- [ ] Correct document typos
- [ ] Preview dark background aplication

[2019-06-08 02:16] hvalois commented on #27
Open the final document here:

https://drive.google.com/file/d/1nCBWbw_NA1VS3pR34yvHobezA4quCmJk/view?usp=sharing

[2019-06-08 16:16] vjpixel opened #195 "please fix"
![20190608_130652](https://user-images.githubusercontent.com/1034796/59149711-6e2ad280-89ef-11e9-821e-120d0e3dd907.jpg)

[2019-06-08 18:14] pablodiegoss commented on #195
No idea how this bug showed up on our markers! Should be some error on the back-end.

I'll try to install a new dependency on python:
![cfelmosqrcdb-crazy-fashions-original-imae4hn8yy2fgkpx](https://user-images.githubusercontent.com/8556291/59150838-16e12e00-8a00-11e9-9a99-de7291cda1cd.jpeg)

[2019-06-10 13:48] rodrigocam commented on #195
Really huge bug, I don't think we can handle without a good solution like this
![image](https://user-images.githubusercontent.com/12930004/59199847-524d3b00-8b6d-11e9-97d7-0487b8c123f9.png)

[2019-06-13 23:08] vjpixel commented on #123
We will need to insert them again, so I'm cleaning this list, sending this task back to the backlog, and assigning it to me.

[2019-06-14 18:09] vjpixel commented on #123
duplicated with #127

please confirm @hvalois

[2019-06-15 23:24] #195 closed

[2019-06-16 15:04] vjpixel opened #196 "Write get involved"
Write get involved page

[2019-06-16 15:04] vjpixel opened #197 "6. Write About Us"

[2019-06-16 15:11] vjpixel opened #198 "0. Insert Google Analytics"

[2019-06-16 15:12] vjpixel opened #199 "1. Update About Us links"

[2019-06-16 15:12] vjpixel opened #200 "11. Write tutorials index page"

[2019-06-16 15:14] vjpixel commented on #199
Put where About Us is now. Move "About Us" to the footer.

[2019-06-16 15:21] hvalois commented on #176
Done.

[2019-06-16 15:23] hvalois commented on #175
Had testeted it extensively during Sersc workshops. Works fine.

[2019-06-16 15:23] #175 closed

[2019-06-16 15:44] hvalois commented on #148
Sometimes (just sometimes) the submit button won´t work on first try. We get to hit it twice to make it go. That's weird stuff! I believed it could be some CSS conflict, and that's the reason for being so late in review this. Yesterday, anyway, I tried to find something odd, but everything seem just fine.

Today I´ve tryed again the changing and in a row of more or less ten attempts, once he did g

[2019-06-16 15:45] hvalois commented on #96
Ok, reviewed.

[2019-06-16 15:49] hvalois commented on #178
I'd like to know why you disable the feature, Pablo and I intended to discuss it with you to undestand the implications on what pixel asked, so I din´t close this issue. Whowever, consider it done.

[2019-06-16 15:51] hvalois commented on #186
This covers the bug I just described in Issue #148

[2019-06-16 15:51] hvalois commented on #148
This bug is been reissued in #186. Moving it as done.

[2019-06-16 15:52] hvalois commented on #123
Confrmed.

[2019-06-16 16:01] hvalois commented on #194
This refers to the dummie I presented on the last sprint, which I´ve been aplying on dev branch. Can you review this, @vjpixel ?

[2019-06-16 19:14] pablodiegoss commented on #172
I've tried this out and the first guy's comment as well. The code went into an infinite loop and downloaded more than 80 repeated photos on my phone, no idea why or how to fix it.

https://stackoverflow.com/questions/17040360/javascript-function-to-rotate-a-base-64-image-by-x-degrees-and-return-new-base64

[2019-06-17 15:20] vjpixel commented on #178
who's "you", @hvalois ?

[2019-06-23 20:38] vjpixel commented on #149
The "submit" button is not working

[2019-06-23 20:44] vjpixel commented on #149
Also, please take out the "legal agreement" text/checkbox

[2019-06-23 20:48] vjpixel commented on #150
@hvalois , Please take out the background of this page and update the CSS

[2019-06-23 21:24] vjpixel commented on #188
@rodrigocam can you please confirm this is done?

it's on "upload marker" and "upload object" pages.

[2019-06-23 21:26] vjpixel commented on #157
After the "submit" button the page is listing the user content. It should not be there

[2019-06-23 21:27] vjpixel commented on #157
Also, the CSS needs to be finished

[2019-06-23 21:34] vjpixel commented on #185
I confirm they're added on the app

[2019-06-23 21:45] vjpixel commented on #160
The page is listing the exhibitions/artworks/markers/objects, but in the bottom, it says that there's no content.

The page is showing details for the Exhibitions that should be only in the Exhibition's page.

The artworks listing have a scroll, event there's only 1 line of content.

I'm adding a screenshot and including @hvalois on this card.

[2019-06-23 21:52] vjpixel commented on #156
The list of artworks doesn't have links to the artworks.

The listing says it have1 artwork, but it's showing  2 items.

The CSS needs to be finished. I'm adding @hvalois to this card.

![Screenshot from 2019-06-23 18-51-27](https://user-images.githubusercontent.com/1034796/59982390-f3190d00-95e7-11e9-8088-26c51f804978.png)

[2019-06-23 22:10] vjpixel commented on #160
The page is listing the exhibitions/artworks/markers/objects, but in the bottom, it says that there's no content.

The page is showing details for the Exhibitions that should be only in the Exhibition's page.

The artworks listing have a scroll, event there's only 1 line of content.

I'm including @hvalois on this card.

![Screenshot from 2019-06-23 19-10-10](https://user-images.githubusercontent.

[2019-06-23 22:22] vjpixel commented on #155
The exhibition list should have a scroll, should not show details of the exhibits and (as far as I remember) should use a marker as the icon.

The lists of artworks/markers/objects have no links to the items.

[2019-06-23 22:27] vjpixel commented on #155
When I'm not logged in and click in Collection on the menu, the URL bar shows that it's on the collection page, but it still shows the content of the start page.

![Screenshot_20190623-191931_Firefox](https://user-images.githubusercontent.com/1034796/59982728-f5ca3100-95ec-11e9-8d16-0840593fe143.jpg)

[2019-06-23 22:34] vjpixel commented on #159
This page should not show the listing of content and links for creating content.

![Screenshot_20190623-193028_Firefox](https://user-images.githubusercontent.com/1034796/59982793-dbdd1e00-95ed-11e9-8046-bc666b23ded1.jpg)

[2019-06-23 23:42] vjpixel commented on #186
I've tested and it's working now

[2019-06-24 00:01] vjpixel commented on #183
It's working now

[2019-06-24 00:07] vjpixel opened #201 "4. add Jandig button on AR viewer"
Include a button on the AR viewer that goes to the home

[2019-06-24 00:10] vjpixel opened #202 "As a user, I want to see a small group of content on the Collection page so I don't get overwhelmed"
The collections page should have small lists and links to pages with the full lists of exhibitions/artworks/markers/objects

[2019-06-24 00:17] vjpixel opened #203 "11. Format documentation's page"
Format documentation page.

https://dev.jandig.app/docs/index.html

[2019-06-24 00:26] vjpixel commented on #186
I've tested again and the Submit button is not working

[2019-06-24 00:33] vjpixel commented on #161
Can you please link the page?

[2019-06-24 00:34] vjpixel commented on #120
Outdated

[2019-06-24 14:43] hvalois commented on #190
@vjpixel can you review if the fonts are legible in your devices?

[2019-06-24 15:07] rodrigocam commented on #188
Confirmed!

[2019-06-24 15:44] hvalois commented on #191
@vjpixel @pablodiegoss @rodrigocam I've applyed the containers to all the app view by now, as well as the rules to header and createbox flexboxes. Can you review if they are bahaving properly in both large and small device widths?

[2019-06-24 15:45] hvalois commented on #182
@vjpixel can you review this?

[2019-06-24 17:49] rodrigocam commented on #191
Seems beautiful to me, congrats @hvalois !

[2019-06-24 17:53] rodrigocam commented on #161
We don't have specific pages for modal, to test you have to click on a marker, object or artwork.
https://dev.jandig.app/collection/ here you can test all this possibilities.

[2019-06-24 20:33] vjpixel opened #204 "setup backup routine"
Setup a back routine so we don't lose the content f the server crashes.

[2019-06-24 21:28] vjpixel commented on #161
When I click in any item (artwork/marker/object) the description shows:
"Title:UNIVERSO
ESTRELAS"

So it seems that they're not getting the title from the database.

Em seg, 24 de jun de 2019 às 14:53, Rodrigo Oliveira <
notifications@github.com> escreveu:

--
VJ pixel
https://www.instagram.com/vjpixel/
https://www.youtube.com/midiasinstaveis

[2019-06-24 22:12] vjpixel commented on #149
The CSS isn't finished. I'm adding @hvalois

[2019-06-24 22:38] vjpixel commented on #182
Some of the markers didn't work, but I thinking it's because I was trying to read from the screen of my computer. I consider this done.

[2019-06-24 22:40] vjpixel commented on #190
Yes, they are - both in my smartphone and computer.

[2019-06-24 23:31] hvalois opened #205 "3. Correct home page content"

[2019-06-24 23:35] vjpixel commented on #149
It seems that the problem is that the system is not warning the user that s/he needs to mark the checkbox before submitting.

So we need to add a response to when a user clicks submit with the box unchecked.

[2019-06-24 23:35] hvalois commented on #205
Fix

- [ ] Fix "blockquote" tag
- [ ] Change button label to "Go to camera"
- [ ]  Fix styling

[2019-06-24 23:40] hvalois opened #206 "Create tutorial component"
Create the tutorial tabs (see wireframe) on home page.

[2019-06-24 23:47] hvalois opened #207 "1. Comment header items"

[2019-06-24 23:49] hvalois commented on #207
- [ ] Comment buttons in header userbox
- [ ] Comment My Stuff in Usefull links

until public release

[2019-06-24 23:56] vjpixel opened #208 "0. update PO"
Update .po file so we can translate the system.

[2019-06-24 23:57] vjpixel opened #209 "0. redirect jandig.art to jandig.app"

[2019-06-25 00:00] hvalois opened #210 "1. Create language selector"
Create button on header. The button must call a modal window where we change the language.

[2019-06-25 00:12] hvalois opened #211 "11. Upgrade tutorials"

[2019-06-25 00:23] hvalois opened #212 "4. Update camera view"

[2019-06-25 00:41] hvalois commented on #211
To Pablo:
- [ ] Create tutorials iframe page
- [ ] Add link in main menu (replace About Us)

To Hebert
- [ ] Aply reset css
- [ ] Review page styles

[2019-06-25 00:59] vjpixel commented on #199
Also, change tha page/link from "community" to "tutorials"

[2019-06-25 01:02] vjpixel opened #213 "2. finish footer"
pixel:
- [x] create Facebook and Twitter accounts
- [x] send social media links to Hebert

Hebert:
- [x] remove "Jandig on GitHub"
- [x] add links to CC and memeLab

[2019-06-25 01:05] hvalois opened #214 "5. Redesign exhibition boxes"

[2019-06-25 01:07] vjpixel commented on #212
Remove the capture button.

[2019-06-25 01:09] hvalois commented on #214
- [ ] Remove exhibition thumbnail
- [ ] Remove url
- [ ] Restyle

[2019-06-25 01:12] vjpixel opened #215 "As an admin, I want to be able to edit and remove content, so I can get rid of inappropriate content."
create an admin user able to edit/remove content from other users

[2019-06-25 01:13] hvalois opened #216 "5. Update element modal styles"

[2019-06-25 01:14] #190 closed

[2019-06-25 01:14] #188 closed

[2019-06-25 01:14] #163 closed

[2019-06-25 01:14] #120 closed

[2019-06-25 01:14] #56 closed

[2019-06-25 01:14] #184 closed

[2019-06-25 01:14] #162 closed

[2019-06-25 01:14] #185 closed

[2019-06-25 01:14] #176 closed

[2019-06-25 01:14] #183 closed

[2019-06-25 01:15] #178 closed

[2019-06-25 01:15] #96 closed

[2019-06-25 01:15] #123 closed

[2019-06-25 01:15] #148 closed

[2019-06-25 01:15] #194 closed

[2019-06-25 01:15] #182 closed

[2019-06-25 01:15] hvalois commented on #216
- [ ] Aply scrolling containers
- [ ] Aply title tags
- [ ] review artwork thumbs
- [ ] create dit button styles

[2019-06-25 01:20] vjpixel opened #217 "implement delete content"
rules:
- exhibitions can be deleted
- artworks can only be deleted if they're not in an exhibition
- markers can only be deleted if they're not in an artwork
- objects can only be deleted if they're not in an artwork

[2019-06-25 01:43] vjpixel opened #218 "implement recover password"
implement password recovery, so a user can recover a lost password

[2019-06-25 01:51] rodrigocam commented on #210
see https://docs.djangoproject.com/en/2.2/topics/i18n/translation/#explicitly-setting-the-active-language

[2019-06-25 04:00] vjpixel opened #219 "solve conflict on upload"
When I try to upload an already existing marker, I get a 403.

I should get a message explaining what's wrong.

[2019-06-25 04:17] #219 closed

[2019-06-25 04:20] vjpixel commented on #159
When I put only a space (the character) as description, the system doesn't create the artwork and gives me no message. When I put a dot it works.

It should be possible to publish without description.

[2019-06-25 04:43] vjpixel opened #220 "4. change size/proportion of objects"
Some objects are created as rectangular GIFs. The user needs to be able to correct this on the platform.

[2019-06-25 04:45] vjpixel commented on #220
This issue is impacting the exhibition on Sesc right now and will impact the one on EBAC.

[2019-06-25 13:44] rodrigocam commented on #208
@vjpixel both english and portuguese are now updated, they are located at `locale` folder at repository root.

[2019-06-25 13:57] rodrigocam commented on #207
Signup and login buttons and also my stuff were commented out.

[2019-06-25 14:21] pablodiegoss commented on #220
How do you suggest we solve this? Post an example of the problem here and how you want it to be like

[2019-06-25 14:23] pablodiegoss commented on #172
I've removed the photo button

[2019-06-25 14:34] pablodiegoss commented on #186
I've changed the button unlock event for something that seems to work on mobile and web, looks nice now.
please review again on dev.jandig.app, @vjpixel

[2019-06-25 14:47] pablodiegoss commented on #159
Removed the menus and fixed the empty description case, @vjpixel, please review

[2019-06-25 14:49] pablodiegoss commented on #157
The cited "box" is the menu with buttons to create artworks, objects, markers, and exhibits.

Fixed, I've removed them from this visualization.

[2019-06-25 15:11] #177 closed

[2019-06-25 19:42] hvalois commented on #207
So are the search and help buttons, plus minor adjustments.

Can you review this, @vjpixel ?

[2019-06-25 19:51] vjpixel commented on #220
I want to be able to change the same parameters that was possible to change
on the code.

Don't have a way to make a screenshot now (no makers or nearby friends),
but you can check Sexy na Janela ti understand the problem.

On Tue, Jun 25, 2019, 11:21 Pablo Diego Silva da Silva <
notifications@github.com> wrote:

[2019-06-25 21:16] hvalois commented on #207
@rodrigocam I've just realized there's an issue we have t adress here. As a matter of fact, the login button an d the mystuff should be hidden in the PROD, in order to avoid content cration until release. The buttons are being used on the DEV branch for the testers, and wold me useful have the user showing there so I can style them properly.

Do you beleieve it´s a simple correction?

@vjpixel pel

[2019-06-25 21:19] hvalois commented on #209
@vjpixel be sure we still have the current wp in some sub-directory. There's some institutional info stored only there.

[2019-06-26 11:59] vjpixel commented on #209
Sure!

http://memelab.com.br/jandig will keep working as it is now.

On Tue, Jun 25, 2019, 18:19 Hebert Valois <notifications@github.com> wrote:

[2019-06-26 14:03] pablodiegoss commented on #210
Done, we only have a few words translated. You can see "About us" being translated to pt-BR if you select pt-BR on the menu button.

@vjpixel, review

[2019-06-26 14:26] pablodiegoss commented on #156
If you click the artwork, they open a modal page with details.

An Artwork is made up of a marker and an object, so. 2 items, 1 Artwork.

[2019-06-26 15:24] vjpixel opened #221 "reactivate Twitter account"
The Twitter account was suspended. We need to reactivate the account or create a new one.

[2019-06-26 15:40] vjpixel commented on #191
I've tested on my notebook and seems fine. I'll test on the phone later.

[2019-06-26 15:52] vjpixel commented on #172
I confirm it

[2019-06-26 15:58] vjpixel commented on #198
It's working! I can feel Google eyes staring at me.

[2019-06-26 21:01] hvalois commented on #210
@pablodiegoss @rodrigocam did you notice the language modal is visible from the start? I'd add the display:none on the container, but as this is done dinamicaly, I didn't know where it goes.

Also, can we have a two character display of the chosen language inside the button?

[2019-06-27 00:25] vjpixel commented on #7
@rodrigocam please check if it's ok

[2019-06-27 00:31] vjpixel commented on #191
On the smartphone:
- The CC icons are very big on my smartphone, overriding other content.

On Both:
- Select your language is very big and the options override other content

[2019-06-27 00:36] vjpixel commented on #159
When I click "select marker" the page gets grey and the page start to have a long scroll.

![Screenshot from 2019-06-26 21-35-09](https://user-images.githubusercontent.com/1034796/60224803-6cb83180-985a-11e9-83f0-a1227598e0e6.png)

[2019-06-27 00:53] vjpixel commented on #199
On src/ARte/core/jinja2/core/useful_links.jinja2 change the text "About Us" to "Help", and the link do the index of the documentation.

On src/ARte/core/jinja2/core/footer.jinja2 change the link to the about us page (you can create it if it doesn't exist).

[2019-06-27 00:58] vjpixel commented on #213
@rodrigocam please check if everything is working fine

[2019-06-27 01:23] vjpixel commented on #221
I created a new one with a better username! =)

https://twitter.com/JandigArt

Please review @hvalois

[2019-06-27 01:36] vjpixel commented on #221
btw, I already updated the link on the footer

[2019-06-27 01:39] vjpixel commented on #127
I put all the content from the launch exhibition.

Since we agreed to wait to put other content, I'll put this on the icebox for a while.

[2019-06-27 01:51] vjpixel opened #222 "Update older Jandig markers"
The older Jandig markers have the old URL on them. We need to remove the URL, so we can upload them.

[2019-06-27 02:15] vjpixel commented on #127
can you please review @hvalois ?

[2019-06-27 02:17] vjpixel commented on #209
can you please check @hvalois ?

[2019-06-27 02:28] vjpixel commented on #29
Since all the Jandig artists are in Brazil, I created documents in Portuguese.

We changed the format of the files from .md to .rst, so I the files are in this format.
- marcadores.rst
- animacoes.rst
- publicando-obras.rst

@hvalois please confirm you reviewed this documents.

[2019-06-27 15:00] hvalois commented on #221
Beautiful!

[2019-07-01 01:54] vjpixel opened #223 "artworks/objects/exhibit in upper/lowercase"
sometime artworks/objects/exhibit are in uppercase and in other cases in lowercase

[2019-07-01 01:55] vjpixel commented on #223
We need to define how we want it to be and change the occurrences that are not following the pattern.

[2019-07-01 02:26] vjpixel commented on #187
markers: https://github.com/memeLab/ARte/blob/develop/docs/marcadores.rst

objects/animations: https://github.com/memeLab/ARte/blob/develop/docs/animacoes.rst

exhibitions' manual still need to be created.

[2019-07-01 02:27] vjpixel commented on #197
https://github.com/memeLab/ARte/blob/develop/docs/about.rst

@pablodiegoss

[2019-07-01 14:38] pablodiegoss commented on #209
Working fine.

[2019-07-01 14:40] pablodiegoss commented on #201
Made by @hvalois, reviewed by me.

[2019-07-01 14:40] #201 closed

[2019-07-01 14:42] #198 closed

[2019-07-01 14:44] #212 closed

[2019-07-01 14:44] pablodiegoss commented on #212
Done on issue #172

[2019-07-01 14:45] #208 closed

[2019-07-01 18:42] hvalois commented on #127
Done.

On Wed, Jun 26, 2019, 11:15 PM VJ pixel <notifications@github.com> wrote:

[2019-07-04 21:20] hvalois commented on #25
I supose this is closed, once we already did the exhibition, right? ;) Please, review this, @vjpixel

[2019-07-04 22:37] hvalois commented on #149
I've added disble css rules to the button. I think this is corrected. Can you review, @vjpixel?

[2019-07-04 22:38] hvalois commented on #150
Work fine to me, with the new CSS rules. Can you review this, @rodrigocam?

[2019-07-04 22:41] hvalois commented on #207
This got old and doesn't need to be applyed anymore. I'm moving it to done, ok, @rodrigocam @vjpixel ?

[2019-07-05 17:02] hvalois commented on #160
Fixed. Please review, @vjpixel

[2019-07-05 17:05] hvalois commented on #216
Done MVP version. Please review, @pablodiegoss

[2019-07-05 17:05] hvalois commented on #205
Done. Please review, @vjpixel

[2019-07-05 17:06] hvalois commented on #214
Done. Please review @rodrigocam

[2019-07-05 17:07] hvalois commented on #191
Review this please, @vjpixel

[2019-07-05 17:08] hvalois commented on #156
Closing and marking as done.

[2019-07-05 17:08] #156 closed

[2019-07-05 17:09] hvalois commented on #157
Corrected on dev ambient. Please review @vjpixel

[2019-07-05 17:10] hvalois commented on #160
Fixed, as userbox rules were created. Review pelase, @vjpixel

[2019-07-10 14:25] vjpixel commented on #160
Great!

[2019-07-10 14:29] vjpixel commented on #157
The fields in the form have different sizes. Why?

![Screenshot from 2019-07-10 11-28-11](https://user-images.githubusercontent.com/1034796/60977434-d7ab4300-a305-11e9-8bdf-6324ce41ac22.png)

[2019-07-10 14:31] vjpixel commented on #191
Good!

[2019-07-10 14:34] vjpixel commented on #191
Ops, the CC text is cut in the word "otherwi..."

[2019-07-10 14:37] vjpixel commented on #205
The vertical space between some items needs to be improved.

[2019-07-10 14:39] vjpixel commented on #207
Yep!

[2019-07-10 14:47] vjpixel commented on #150
The first form field is outside the box and the vertical space between the text and the first field needs to be increased.

![Screenshot from 2019-07-10 11-45-16](https://user-images.githubusercontent.com/1034796/60979055-6f119580-a308-11e9-96cd-e14136d37b59.png)

[2019-07-10 14:49] vjpixel commented on #149
The CSS isn't finished.

The "legal agreement" box is still there.

[2019-07-10 14:50] vjpixel commented on #25
\o/

[2019-07-10 14:52] vjpixel commented on #127
Since it's considered done, I'm moving this card to "Done".

[2019-07-10 14:53] vjpixel opened #224 "update .po"
Update translation to Portuguese.

[2019-07-10 14:54] hvalois commented on #157
@vjpixel Like I said above, this is corrected on DEV ambient.

[2019-07-10 14:56] vjpixel commented on #157
Sorry! Done!

[2019-07-10 15:05] vjpixel commented on #150
I've just re-reviewed and the size of the fields are the same on DEV.

Just the vertical space that could be improved.

[2019-07-10 15:15] vjpixel commented on #210
The font size needs to be increased.

![Screenshot from 2019-07-10 12-15-03](https://user-images.githubusercontent.com/1034796/60981286-6fac2b00-a30c-11e9-82c0-b5e67b378a97.png)

[2019-07-10 15:19] vjpixel commented on #186
Great!

[2019-07-10 15:23] vjpixel commented on #220
I'm adding a screenshot now. Tokusatsu, Robô Rodas, Sexy na Janela, Plan9 and Robô Peixe are with wrong proportions.

![Screenshot from 2019-07-10 12-20-38](https://user-images.githubusercontent.com/1034796/60981857-7d15e500-a30d-11e9-9308-4b2acae82276.png)

[2019-07-10 16:37] vjpixel opened #225 "fix edit exhibit"
https://jandig.app/users/profile/

When I'm on the list of exhibits and click to edit one, it sends me to a 404.

Also, the "edit" text is over the date (I propose we remove the date).

![Screenshot from 2019-07-10 13-36-38](https://user-images.githubusercontent.com/1034796/60987383-df73e300-a317-11e9-8f38-44547703a40e.png)

[2019-07-10 16:45] vjpixel commented on #118
A user just reported this problem on an iPhone.

[2019-07-10 17:00] vjpixel commented on #159
Now the page has a veeeeeeery long scroll with a single column. We need a solution that is scalable.

![Screenshot from 2019-07-10 13-58-59](https://user-images.githubusercontent.com/1034796/60988881-01bb3000-a31b-11e9-92ba-d83f44734ceb.png)

[2019-07-10 17:06] vjpixel commented on #161
The title of the marker isn't been showing.

![Screenshot from 2019-07-10 14-05-46](https://user-images.githubusercontent.com/1034796/60989278-e7ce1d00-a31b-11e9-9d2e-cffa7557669e.png)

[2019-07-10 17:13] vjpixel commented on #214
Some titles are breaking the layout.

![Screenshot from 2019-07-10 14-11-54](https://user-images.githubusercontent.com/1034796/60989626-db968f80-a31c-11e9-9229-cf84457c1162.png)

![Screenshot from 2019-07-10 14-12-32](https://user-images.githubusercontent.com/1034796/60989633-df2a1680-a31c-11e9-9960-800b6beb10a1.png)

![Screenshot from 2019-07-10 14-12-48](https://user-images.githubusercontent.com

[2019-07-10 17:25] vjpixel commented on #224
@rodrigocam the django.po file seems to be updated, but many text of the Portuguese version of the platform are still in English.

Can you fix this?

[2019-07-10 17:29] vjpixel opened #226 "create/edit in upper/lowercase"
Sometimes the buttons are in uppercase, others they're in lowercase. We need to define a pattern and apply.

![Screenshot from 2019-07-10 14-28-35](https://user-images.githubusercontent.com/1034796/60990548-0c77c400-a31f-11e9-8835-ef9de1437642.png)

[2019-07-10 17:36] vjpixel opened #227 "Portuguese translation of I'm the marker author is wrong"

[2019-07-10 17:37] vjpixel commented on #227
![Screenshot from 2019-07-10 14-36-18](https://user-images.githubusercontent.com/1034796/60991069-2e257b00-a320-11e9-829d-9b7ebb26e22e.png)

[2019-07-10 17:39] vjpixel opened #228 ".patt upload is hidden in PT version of the upload marker page"

[2019-07-10 17:40] vjpixel commented on #228
![Screenshot from 2019-07-10 14-39-31](https://user-images.githubusercontent.com/1034796/60991293-aa1fc300-a320-11e9-991d-7881cf0394fa.png)

[2019-07-10 17:47] vjpixel opened #229 "marcadores.rst missing image"

[2019-07-10 17:48] vjpixel commented on #229
![Screenshot from 2019-07-10 14-46-48](https://user-images.githubusercontent.com/1034796/60991832-ab052480-a321-11e9-9d6f-6c4b1917ebef.png)

[2019-07-10 17:48] vjpixel opened #230 "missing parenthesis"

[2019-07-10 17:51] vjpixel commented on #230
On the create exhibit form.

![Screenshot from 2019-07-10 14-48-27](https://user-images.githubusercontent.com/1034796/60991936-df78e080-a321-11e9-9563-ff6a1540407b.png)

[2019-07-10 17:55] vjpixel opened #231 "adjust vertical spaces"
Adjust the spaces on the user collection view.

![Screenshot from 2019-07-10 11-37-40](https://user-images.githubusercontent.com/1034796/60992320-a0975a80-a322-11e9-862c-d14e6d0688b5.png)

[2019-07-12 22:07] #172 closed

[2019-07-12 22:09] #7 closed

[2019-07-12 22:09] #157 closed

[2019-07-12 22:11] #160 closed

[2019-07-12 22:11] #127 closed

[2019-07-12 22:11] #207 closed

[2019-07-12 22:11] #25 closed

[2019-07-12 22:11] #186 closed

[2019-07-12 22:17] vjpixel commented on #226
We decided to start the words in uppercase

[2019-07-12 22:20] vjpixel commented on #223
We decided to start with uppercase if it's at the beginning of the phrase, lowercase if it's in the middle.

[2019-07-12 22:37] pablodiegoss commented on #161
The title isn't from a marker or object, just an artwork

[2019-07-12 22:38] pablodiegoss commented on #203
Being solved on #211

[2019-07-12 22:38] #203 closed

[2019-07-12 22:41] vjpixel commented on #211
"Add link in main menu" is already in #199

[2019-07-12 22:50] #34 closed

[2019-07-12 22:50] #155 closed

[2019-07-13 16:01] vjpixel commented on #187
There's an specific issue about the creation of the exhibition's manual (#31), so I'm moving to review.

[2019-07-13 16:02] hvalois commented on #210
@pablodiegoss @rodrigocam any chance to add to the language choice function something that added a the choosen language as a class on the language selector link?

[2019-07-14 21:28] vjpixel opened #232 "As an artist, I want to be able to test an artwork easily, so I can see it before including in an exhibition."
Right now, to an artist to test an artwork s/he needs to create an exhibition. If s/he wants to improve the content, s\he needs to delete the exhibition and the artwork, and then update (or create) a new object (or marker), and then create the artwork and exhibition again.

An artist needs to be able to test an artwork without creating an exhibition.

The way it is now, every artist is automatical

[2019-07-14 23:17] vjpixel opened #233 "fix camera frequently freezing"
Since the beginning of this month, the camera has been freezing constantly. First I thought it was something with my phone.

I formated my phone 2 days ago, and today an artist that is working with me reported the same issue.

The exhibition we're opening is Festival Marte 2019. https://jandig.app/exhibit/?id=37

[2019-07-14 23:22] vjpixel commented on #233
The app is still responding. If I click on the Change Exhibition button, I can choose another, but then the app sends me back to the camera view and the camera wents white. Here's a screenshot from my phone.

![Screenshot_20190714-200657_Chrome](https://user-images.githubusercontent.com/1034796/61190584-05311d00-a675-11e9-9454-d7ac179ac055.jpg)

[2019-07-14 23:23] vjpixel commented on #233
@hvalois just reported on Telegram that he's having the same problem when opening other exhibitions.

[2019-07-15 11:52] hvalois commented on #225
@pablodiegoss @rodrigocam I've also been struggling with this, since I have to add one new artwork in a existing exhibition.
I also think this edit section SHOULD have a "Remove Exhibition" button so we have less clutter in accessing the ARViewer urls.

[2019-07-15 11:55] hvalois opened #234 "Content Pagination"
In the short ammount of time since the app began to receive new content It have became clear that we need some pagination on content display. Even now the page loading is impossibly complex and slow, since the user have to render all the app content to reach what he's looking for.

The Collection page, for example, not only loads all the DB content, but also replicates many of this elements (since

[2019-07-15 12:13] hvalois commented on #234
@rodrigocam @pablodiegoss @vjpixel I believe we had an issue about pagination but I could find anything on it. I will leave this as a new ssue until we can talk about it.

However, I think this is a major issue we have to solve and I'd suggest you all to think about it until our next meeting.

[2019-07-15 14:50] vjpixel commented on #234
I agree with you.

[2019-07-15 15:00] vjpixel commented on #225
I agree with Hebert about the importance to have the Remove button.

[2019-07-15 19:51] rodrigocam commented on #228
The problem was that we are translating a variable value used in a `if` statement, and so, the `if` condition never was true.

[2019-07-15 20:03] rodrigocam commented on #227
Now the phrase is in a unique translate block

[2019-07-15 20:06] rodrigocam commented on #230
Fixed

[2019-07-15 20:28] vjpixel commented on #230
The parenthesis on the second screen (2/2) are still missing.

[2019-07-15 20:32] vjpixel commented on #200
I'm working on this, but the context is duplicated (in different forms/layouts). Can one of you fix this? @pablodiegoss @rodrigocam

[2019-07-15 20:34] vjpixel commented on #200
![Screenshot from 2019-07-15 17-30-29](https://user-images.githubusercontent.com/1034796/61247066-b774ed00-a726-11e9-801f-48ba901cf2c2.png)
![Screenshot from 2019-07-15 17-30-50](https://user-images.githubusercontent.com/1034796/61247067-b774ed00-a726-11e9-9a54-01175f01a4b0.png)

[2019-07-15 21:49] rodrigocam commented on #230
Fixed

[2019-07-15 23:06] rodrigocam commented on #225
Edit button fixed

[2019-07-15 23:37] rodrigocam commented on #217
All contents now can be deleted following the rules described bellow

[2019-07-15 23:45] rodrigocam commented on #199
Fixed

[2019-07-16 12:39] vjpixel commented on #217
where are the rules?

[2019-07-16 12:54] vjpixel opened #235 "update publishing agreements"
"I agree to share this content under CC BY-SA 4.0 and I'm aware that it can't be removed after other people are using it."

[2019-07-16 12:58] vjpixel commented on #217
When I'm creating an artwork the delete buttons ate shown, breaking the layout. This buttons shouln't appear here.

![Screenshot from 2019-07-16 09-57-02](https://user-images.githubusercontent.com/1034796/61296218-1599e280-a7b0-11e9-91a1-5f96b881b227.png)

[2019-07-16 13:40] vjpixel commented on #224
The translation in the system is a lot better now. I've just updated and reviewed the translation (that you for your work on this, including the review), but some translations are still missing.

I'd also reviewed the upper- and lowercases, so we have the same in Portuguese as we have in English.

![Screenshot from 2019-07-16 10-28-19](https://user-images.githubusercontent.com/1034796/61298882-679

[2019-07-16 13:44] vjpixel commented on #223
There is still at least one occurrence starting in lowercase that needs to be changed.

![Screenshot from 2019-07-16 10-43-26](https://user-images.githubusercontent.com/1034796/61299579-bab7b980-a7b6-11e9-8c73-7376509ac243.png)

[2019-07-16 13:47] vjpixel commented on #226
There is still at least one occurrence starting in lowercase that needs to be changed.

![Screenshot from 2019-07-16 10-43-26](https://user-images.githubusercontent.com/1034796/61299731-09655380-a7b7-11e9-90a0-2472f6edeb36.png)

[2019-07-16 14:03] vjpixel commented on #211
#199 was done by @rodrigocam , so I'm checking this item.

There are still some work to be done. We need a link back to Jandig app and have the same licence as the app (change the (c) line).

[2019-07-16 14:05] vjpixel commented on #200
Now I consider the content of the index page done.

[2019-07-17 00:46] pablodiegoss commented on #149
Removed the Agreement button
@vjpixel review

[2019-07-17 00:47] pablodiegoss commented on #224
It's not possible to automatically translate right now, if new translations are added, i need to manually update them on production, staging and develop.
They have been update now.
@vjpixel review the latest version

[2019-07-17 00:55] pablodiegoss commented on #213
All links working fine

[2019-07-17 00:55] #213 closed

[2019-07-17 00:58] #197 closed

[2019-07-17 01:00] pablodiegoss commented on #200
@hvalois is working on the CSS for this iframe

[2019-07-17 01:05] vjpixel commented on #200
The solution wasn't in the CSS. @rodrigocam already did a commit solving.

The CSS is in #211  , so if you consider the content finished, you can move this issue to Done.

[2019-07-17 01:09] pablodiegoss commented on #217
Should be fine now.
@vjpixel review again

[2019-07-17 01:26] vjpixel commented on #224
The system is still like the screenshots I attached before.

[2019-07-17 01:28] vjpixel commented on #226
It's still here.

![Screenshot from 2019-07-16 22-28-00](https://user-images.githubusercontent.com/1034796/61340516-08650e00-a819-11e9-92a7-de33a62441e1.png)

[2019-07-17 13:46] hvalois commented on #191
License text removed from footer in lower resolutions. All thing related to the language selector I'll list on its especific issue.

Can u review this, please, @vjpixel ?

[2019-07-17 14:05] vjpixel commented on #191
Great!

[2019-07-17 15:12] hvalois commented on #149
Plase review this, @vjpixel

[2019-07-17 15:13] hvalois commented on #150
Please review this, @vjpixel

[2019-07-17 15:14] hvalois commented on #205
Plase review this, @vjpixel . The language selector still can be improved but there's already an issue on this.

[2019-07-17 15:17] hvalois commented on #192
I will (gladly) crate the edit and remove content icons before uploading this sheet.

[2019-07-17 17:39] vjpixel commented on #130
It is still cropping the image here (both on Dev and Prod).

![Screenshot_20190717-143457_Chrome](https://user-images.githubusercontent.com/1034796/61397627-b071ea00-a8a0-11e9-96a1-a60863d4e6ce.jpg)

[2019-07-17 18:46] vjpixel opened #236 "improve GIF decoder"
Some GIFs aren't decoded the way we see them in other apps.

Some artists need to create animations and, after uploading them to the app, export the content several times to try to fix the issues. Since we didn't identify the problem yet, they do that in a trial and error process, what takes a lot of time.

Sometimes they aren't able to completely fix the problem, so the version of the animation i

[2019-07-17 21:20] vjpixel commented on #150
The formatting of the texts "Sign up" and "Recover password" were fine and now are broken.

![Screenshot from 2019-07-17 18-18-40](https://user-images.githubusercontent.com/1034796/61412470-56cce800-a8bf-11e9-8e73-529ff0d8b42d.png)

[2019-07-17 21:25] vjpixel commented on #149
The "Log in" text CSS still needs improvement.

![Screenshot from 2019-07-17 18-22-55](https://user-images.githubusercontent.com/1034796/61412813-34879a00-a8c0-11e9-9046-09a244d0b381.png)

[2019-07-17 22:55] vjpixel opened #237 "As a user, I want to know what content are using the content I have open now, so I can find content related to the ones I like."
It should be easy to navigate between content and related content. An example is when I have the modal of a marker open, saying "Used in 2 artworks and in 2 exhibits", I should be able to click and see this artworks and exhibits.

[2019-07-18 14:53] vjpixel commented on #161
We have markers and with different names from the artworks.

Also, the modal for artworks aren't showing the name too.

[2019-07-18 17:55] vjpixel commented on #233
I've just tested opening Vida Longa exhibit and it's working fine.

The total size of the GIFs in Vida Longa is 5,7 MB. The total size on Marte is 5,1 MB, so I think the problem should be in an individual content.

[2019-07-19 14:20] vjpixel opened #238 "As an artist, curator or admin, I want to see a "confirm deletion" window, so I don't delete the wrong content."
Add a "Confirm exclusion" window so the user doesn't accidentally delete content.

[2019-07-19 14:28] vjpixel commented on #204
I consider this issue as a fix because of the great impact if we have a crash in the server that we couldn't revocer.

[2019-07-22 13:39] vjpixel opened #239 "outreach Marte Festival"

[2019-07-22 13:42] vjpixel commented on #239
Hebert:
[ ] publicar galeria de fotos do X-Reality
[ ] publicar peça gráfica com divulgação do Marte

pixel:
[ ] republicar vídeo do Marte
[ ] publicar stories da atividade de sábado (27)
[ ] publicar foto da atividade de sábado (27)

[2019-09-02 23:12] #230 closed

[2019-09-02 23:12] #217 closed

[2019-09-02 23:12] #223 closed

[2019-09-02 23:16] #62 closed

[2019-09-02 23:21] hvalois commented on #193
Redesign Curator and Artist Badges

[2019-09-02 23:23] hvalois commented on #192
I need to redesign the Curator and Artist badges and update the file here and on GDrive.

[2019-09-02 23:25] hvalois commented on #193
@hvalois, update file here and on GDrive

[2019-09-02 23:29] vjpixel opened #240 "connect Twitter and Facebook to Instagram"
connect the accounts so we can just post on Instagram

[2019-09-02 23:30] hvalois commented on #214
@hvalois review responsiveness on small devices.

[2019-09-02 23:34] hvalois commented on #231
@vjpixel can u change translation to "Sem conteúdo"? Tks,

[2019-09-02 23:35] #55 closed

[2019-09-02 23:35] vjpixel commented on #45
This is an ongoing task that doesn't make sense to have here anymore

[2019-09-02 23:35] #45 closed

[2019-09-02 23:35] #191 closed

[2019-09-02 23:36] #205 closed

[2019-09-02 23:36] #225 closed

[2019-09-02 23:36] #199 closed

[2019-09-02 23:36] #221 closed

[2019-09-02 23:36] #228 closed

[2019-09-02 23:36] #5 closed

[2019-09-02 23:36] #216 closed

[2019-09-02 23:36] #239 closed

[2019-09-02 23:36] #224 closed

[2019-09-02 23:36] #226 closed

[2019-09-02 23:36] #227 closed

[2019-09-02 23:36] #64 closed

[2019-09-02 23:37] #38 closed

[2019-09-02 23:38] pablodiegoss commented on #55
We are storing everything with Pillow in Django, it manages everything and saves the files to the mapped volume on docker to save it on the server.

[2019-09-02 23:39] #138 closed

[2019-09-02 23:40] pablodiegoss commented on #138
Unecessary work, it's an overhead that we didn't work on

[2019-09-02 23:40] #210 closed

[2019-09-02 23:40] #211 closed

[2019-09-02 23:40] #29 closed

[2019-09-02 23:40] #187 closed

[2019-09-02 23:40] #200 closed

[2019-09-02 23:40] #159 closed

[2019-09-02 23:41] hvalois commented on #149
@hvalois check small text size on the pages and increase it if needed

[2019-09-02 23:44] #214 closed

[2019-09-02 23:46] hvalois commented on #150
@vjpixel please review this?

[2019-09-02 23:46] vjpixel commented on #146
Since PWA has problems with push notifications, we decided to not work on this until someone asks.

[2019-09-02 23:46] #146 closed

[2019-09-02 23:49] vjpixel commented on #9
Create all exhibitions that happened between 2011-2018 on the platform.

[2019-09-02 23:50] vjpixel commented on #8
Publish all artworks created between 2011-2017 in the platform.

[2019-09-11 23:34] #116 closed

[2019-09-11 23:38] #135 closed

[2019-09-11 23:39] pablodiegoss commented on #151
Drawers are not available for pwa, with css is kinda hardcore to detect a hold and pull to open a drawer

[2019-09-11 23:39] #151 closed

[2019-09-21 16:28] vjpixel commented on #118
@rodrigocam what information do you need to debug this?

[2019-09-21 16:34] vjpixel commented on #150
It still looks the same to me.

[2019-09-21 16:57] vjpixel commented on #36
We tried to do that, but the result wasn't satisfactory.

@pablodiegoss @rodrigocam can you please describe the problems you found when you worked on this?

[2019-09-21 17:02] vjpixel commented on #41
The proposal is to have Objects that are activated when a group of Markers is seemed by the camera,

[2019-09-21 17:02] #67 closed

[2019-09-21 17:04] vjpixel commented on #90
I think we tried to do that, but the result wasn't satisfactory.

@pablodiegoss @rodrigocam can you please describe the problems you found when you worked on this?

[2019-09-21 17:13] hvalois commented on #215
In our previous meeting I've mentioned two usability points that I believed had to be issued until the App would be considered complete. This is (as long as issue #234) one of them.

We, as Jandig Team, have to be able to remove any content we think is offensive or sensitive on the app database. This would have a nice collateral as we would be able also to create "Editor´s Choice" selections in th

[2019-09-21 17:14] hvalois commented on #234
Any thoughts on this @pablodiegoss @rodrigocam ?

[2019-09-21 17:15] vjpixel commented on #104
To have a tutorial over the camera of how to use it to recognize Markers.

I recovered other screens that were created to implement this idea:

![Screenshot from 2019-09-21 14-08-16](https://user-images.githubusercontent.com/1034796/65376754-1cdee000-dc7a-11e9-8323-b9f12bee504a.png)

![Screenshot from 2019-09-21 14-08-41](https://user-images.githubusercontent.com/1034796/65376758-20726700-dc7a-11e

[2019-09-21 17:29] vjpixel commented on #109
Hi @nohorse , I'm working right now in benchmarking other platforms to bring new ideas for Jandig. Would be a great moment to have tye access. Is it possible now?

[2019-09-21 17:31] #121 closed

[2019-09-21 17:31] #122 closed

[2019-09-21 17:32] #125 closed

[2019-09-21 17:33] #126 closed

[2019-09-21 17:37] vjpixel commented on #130
@rodrigocam @pablodiegoss do you need any more info to debug this?

[2019-09-21 17:38] vjpixel commented on #131
@rodrigocam I suggest that you check #109

[2019-09-21 17:39] #137 closed

[2019-09-21 17:42] #143 closed

[2019-09-21 17:46] #131 closed

[2019-09-21 17:48] vjpixel commented on #152
This issue has a workflow relation with #90 and #36.

Can you please add more info to this issue @rodrigocam ?

[2019-09-21 17:55] vjpixel commented on #161
Do you need any more information @rodrigocam ?

[2019-09-21 17:57] vjpixel commented on #168
@hvalois tried to install on Windows but had issues, documented on #141

[2019-09-21 18:00] vjpixel commented on #189
I struggled to find a suitable model. From all the ones I studied, Wikipedia seems to have the best, although it would need a good amount of adaptation to fulfill Jandig's necessities.

[2019-09-21 18:03] vjpixel commented on #202
Do you need any more information on this @pablodiegoss ?

[2019-09-21 18:06] vjpixel commented on #218
Do you need any more information on this @rodrigocam ?

[2019-09-21 18:07] vjpixel commented on #220
do you need any more information @pablodiegoss ?

[2019-09-21 18:10] vjpixel commented on #222
I've been slowly working on this one.

Would be great to send a personalized e-mail to everyone that was involved in the creation of any Jandig artwork, so would be good to have this done before the launch.

[2019-09-21 18:11] vjpixel commented on #229
Do you need any more information @pablodiegoss @rodrigocam ?

[2019-09-21 18:16] vjpixel opened #241 "update translation .po"
Update the translation file.

- [ ] On the user collection, update "Ainda sem conteúdo." to "Sem conteúdo."
- [x] Have an uppercase initial in every occurrence of Marker, Artwork, Object, and Exhibition.

[2019-09-21 18:16] vjpixel commented on #231
@hvalois sure!

I've added this on #241

[2019-09-21 18:17] #233 closed

[2019-09-21 18:18] vjpixel commented on #233
It seems that the problem was related to a specific Object.

[2019-09-21 19:09] vjpixel commented on #236
We had this problem in most of the GIFs created for Marte Festival.

You can see the glitch on these GIFs:
https://jandig.app/media/objects/ezgif.com-optimize.gif
https://jandig.app/media/objects/Casa-dos-contos-900px.gif

Do you need any more information to work on this @pablodiegoss ?

[2019-09-21 19:17] vjpixel commented on #90
Do we still want it?

[2019-09-21 19:23] vjpixel opened #242 "Wrong link to download Object"
I'm trying to download Museu da Inconfidência Object, but the modal is showing the Casa dos Contos one.

The Marker and Object shown on the page are correct, but the download link shows https://jandig.app/media/objects/Casa-dos-contos-900px.gif, that is another animation.

![Screenshot from 2019-09-21 16-20-18](https://user-images.githubusercontent.com/1034796/65378219-d09c9b80-dc8b-11e9-9d5e-f44a

[2019-09-21 19:25] vjpixel commented on #242
Right now, any Object I try to download gives me Casa dos Contos.

![Screenshot from 2019-09-21 16-24-25](https://user-images.githubusercontent.com/1034796/65378269-6f28fc80-dc8c-11e9-8b57-10dc93be501c.png)

[2019-09-21 19:28] vjpixel commented on #242
Since it's possible to click on the GIF and download it, removing the download link would no to harm.

[2019-09-21 20:03] vjpixel commented on #133
If you think it can attract more contributors, would be nice to make it soon. @pablodiegoss @rodrigocam

[2019-09-24 23:54] vjpixel commented on #236
I just found one GIF where the problem is intermittent (sometimes the animation is OK, sometimes it has glitches): https://dev.jandig.app/exhibit/?id=42

[2019-09-24 23:59] vjpixel opened #243 "wrong link in Mozilla Pulse"
Since the update of the name of the repo, the "Visit" link in Mozilla Pulse is working - note that the "Get Involved" link in the same page is working.

https://www.mozillapulse.org/entry/1044

@pablodiegoss @rodrigocam do you have access to update it?

[2019-09-30 12:38] pablodiegoss commented on #243
We can't update by ourselves, need to contact Mozilla and ask to.
Which links should we use for each button? Soon the Get involved should stop working too, as you renamed the repo

[2019-09-30 12:41] pablodiegoss commented on #236
This one is glitching on my browser, doesn't even have to be in Jandig...
I'll test the others and see if I can find any clue.

[2019-09-30 12:47] pablodiegoss commented on #90
This would enable developing tests to verify if the application is running as expected on every commit. We use the GetUserMedia to obtain the user camera by WebRTC protocol, there should be a way to create a mock camera using a picture or video to run tests without a real camera in the device.
We didn't work on this yet, so i still have no progress to report here and contribute :c

[2019-09-30 12:53] pablodiegoss commented on #229
No, this is because in a .rst document we don't insert images as in HTML.

https://stackoverflow.com/questions/14087784/linked-image-in-restructuredtext

The document is recognizing the tag as a plain text, so that no image is shown.
I'll update to the correct sintax and verify that it works on our doc generation pipeline with Sphinx

[2019-09-30 12:59] pablodiegoss commented on #220
The thumbnails are set to be shown in 50x50 in this grid. It is just a CSS problem, should work fine inside the app and camera as we use the marker on its real size and do not scale or resize them.

This issue is actually related to be able to edit the position/scale/rotation of an Object being shown on a marker. Like we have coded Samurai being a little bigger than the marker, how do we make a UI

[2019-09-30 13:02] pablodiegoss commented on #202
How many items is a "small" list? What is the criteria for the items being shown on the "small" list? newest first? Post the prototype of this page here.

The full collection of a category should have any "see more" buttons or just a big list like we have today?

[2019-09-30 13:04] pablodiegoss commented on #168
In the issue you linked the said:

I'll be closing this issue

[2019-09-30 13:04] #168 closed

[2019-09-30 13:06] pablodiegoss commented on #141
The main problem here is not Jandig or our dev environment, it's Installing Docker in Windows. I'll close this issue.

[2019-09-30 13:06] #141 closed

[2019-09-30 13:10] pablodiegoss commented on #130
Some update to browsers may have broken the solution i created on the mentioned PR. Needs investigation

[2019-09-30 13:13] pablodiegoss commented on #234
Duplication of: https://github.com/memeLab/Jandig/issues/202

[2019-09-30 13:13] #234 closed

[2019-09-30 13:19] pablodiegoss commented on #215
The "Editor's Choice" is a nice feature, but needs some change to our models inside Django, to be able to filter on our content list the Featured ones.
The Admin is really a bug, need some investigation in our routes, the Django is overwriting the admin URL, identifying it as a exhibit and making it unaccessible.

[2019-09-30 13:25] pablodiegoss commented on #41
This would require some new category of content besides Marker, a "Marker Group" that you can select to create by grouping some of the available markers, similar to what we do when creating an exhibit with artworks.
But in the same exhibit wouldn't be possible to have a marker and a group that have any intersection: an artwork with the tokusatsu marker and any object and a group with any markers (

[2019-09-30 13:27] pablodiegoss commented on #118
Occurs only on iphones? I have Jandig installed here on my Android. Seems fine.

[2019-09-30 13:35] pablodiegoss commented on #36
Taking pictures inside the camera feature isn't a normal "screenshot". We need to capture the 3D scene with the virtual objects and the camera stream, we achieved that, but the WebRTC getusermedia camera delivers an image that is rotated 90degrees, as we screenshot the canvas we get a base64 encoding, so we need to rotate base64 data to save it in the correct orientation. (Rotating the base64 enco

[2019-09-30 13:41] pablodiegoss commented on #242
We are using an Ajax query to populate this modal, maybe the download link is getting some kind of cache from the last successful query and not being updated.
Should be some minor detail in the code, if not found we can remove the button then.

[2019-09-30 14:11] rodrigocam commented on #133
I submitted the proposal in this PR https://github.com/pwarocks/pwa.rocks/pull/486

[2019-09-30 14:12] rodrigocam commented on #152
Closing this issue since the work is being related in #36

[2019-09-30 14:12] #152 closed

[2019-09-30 14:15] rodrigocam commented on #218
No need, ty

[2019-09-30 14:15] rodrigocam commented on #161
No need, ty

[2019-10-04 17:17] vjpixel commented on #243
"Visit" should point to: http://jandig.art

"Get involved" & "Help needed": https://github.com/memeLab/Jandig

"Join community" & "Test & feedback" & "Create content": https://t.me/joinchat/HES_ShA6TMPP-aiHxH7thQ

[2019-10-04 17:22] vjpixel commented on #236
There's a newly created object on this exhibition that has a glitch: https://jandig.app/exhibit/?id=53

You can see a video here: https://photos.app.goo.gl/vGCfmEWhjmagNgv1A

[2019-10-04 17:56] vjpixel opened #244 "improve the "how to publish content" manual"
Create sections for "Markers", "Objects", "Artworks" and "Exhibitions", and detail more each of the steps.

[2019-10-04 17:58] vjpixel commented on #220
I think the best solution to solve this issue in the short term is:

**For proportion**
To calculate the proportion of the Object based on its resolution, and to fit the shorter side in the marker (so, if the Object is in portrait format, it should fit the sides on the sides on the sides of the marker). There's no user interaction here.

**For size**
Create a scale numerical field. The default val

[2019-10-04 19:07] vjpixel commented on #202
My proposal is that we have the actual Collection page showing 4 Exhibitions, 6 Artworks, 8 Markers, and 8 Objects.

Each section will have a "More" link showing a listing of each type of content (at the URLs "https://jandig.app/exhibitions/", "https://jandig.app/artworks/", "https://jandig.app/markers/", "https://jandig.app/objects/"). These pages should list respectively, 12, 24, 32, 32 contents

[2019-10-04 19:17] vjpixel commented on #41
I think we should archive this one.

[2019-10-04 19:20] vjpixel commented on #118
By now, I only remember having this problem with iPhones.

Maybe @DemPort can help.

[2019-10-04 19:30] hvalois commented on #202
These numbers seem fine to me. I think it would solve ther majority of our usability problems.

[2019-10-07 14:48] pablodiegoss commented on #220
Both values for scale and position are 3d vectors, since we work in a 3d virtual scene to position objects.
Then we have to ignore scales like (1x, 1.5y ,1z) to have scales of only equal values (1,1,1) if we use this kind of numerical field.
For position then Z would be unused too. Horizontal would change the X and Vertical the Y but a (0,0) would represent the center of a marker or the left upper

[2019-10-07 22:39] vjpixel commented on #220
Using scale and position as you're describing seems to be good.

We should use the center of the marker as (0,0).

[2019-10-08 16:17] vjpixel opened #245 "improve Google Search Console configuration"
I've received two GSC e-mails suggesting to change the configuration to improve SEO.

### **Otimize a presença de jandig.art no Google**

Os sistemas do Google mostram que você verificou essa propriedade do domínio no Search Console recentemente. Temos algumas dicas para ajudar você a aproveitar ao máximo esse serviço gratuito e maximizar o desempenho do seu site na Pesquisa Google.

Primeiros pas

[2019-10-08 16:45] vjpixel opened #246 "editor's choice"
With a lot of content on the platform, the editors need a way to highlight content, so users find easily high-quality content.

My proposal is that, at this moment, the editors can "star" a marker/object/artwork/exhibition. All starred contents will be presented before the others.

As @hvalois pointed in #215 , this is one of the important features to be implemented before the official launch.

[2019-10-08 16:47] vjpixel commented on #215
Since having "Editor's Choice" is a second step after creating the admin (and it's basic features), I've created a specific issue: #246.

[2019-10-08 16:54] vjpixel opened #247 "add "loading" to content recognized but still not downloaded"
The time to load an object depends on aspects like connection speed and size of the object. Sometimes users think that the recognition of the markers isn't working because the app isn't showing anything.

I propose that as soon as a marker is recognized it shows a "loading" animation. It should be downloaded before the lazy load (#101).

[2019-10-08 17:02] vjpixel opened #248 "As an artist, I want to publish videos instead of GIFs, so I can offer a smoother experience (with smaller files)."
Adding support for video files with alpha would make possible for artists to create other kinds of content. right now, when we convert video files as GIFs, so they're way too big, making very difficult to have video content right now.

A non-exhaustive list of video codecs and image formats with alpha channels can be found here: https://www.rocketstock.com/blog/video-codecs-and-image-sequences-wit

[2019-10-08 17:13] vjpixel opened #249 "simplify marker upload"
Right now, uploading markers is a 2-step process. First, the user needs to go to https://jandig.app/generator/ and create PATT and PNG files, then go to https://jandig.app/users/markers/upload/ and upload these files. This step also creates PDF files.

The ideal process would be to have everything in just 1 step. The user uploads the image and the PATT, PNG and all versions of the PDF are created.

[2019-10-08 17:27] vjpixel opened #250 "As a curator, I want to create exhibits from artists' artworks, so I don't need to copy the artworks"
Right now, a curator isn't able to create an exhibition with other user's works.

To create an exhibition with other user's works, s/he needs to create artworks equal to already existing artworks.

This process should be easier. The curator needs to be able to browse the complete artwork gallery and choose the content s/he wants in the exhibition.

[2019-10-08 17:33] vjpixel commented on #238
This includes markers/objects/artworks/exhibitions and also their own accounts.

[2019-10-08 17:37] vjpixel commented on #161
Part of solving this issue is creating a "Title" field for tye markers/objects.

[2019-10-08 17:46] vjpixel opened #251 "links for artworks/objects/markers"
If a user is on an artwork modal or exhibition page, s/he can't click on a content (marker/object/artwork). If the user wants to see the content, it needs to go back to the Collection page and find it.

The contents should have links so the user can simply click and go to it's page.

[2019-10-08 17:53] vjpixel commented on #202
We also need to have pagination on the selection screens for markers/objects when creating artworks, that can have 64 contents on each page.

And for artworks when creating exhibitions, that can have 32 contents. Since the artworks are shown as a pair of marker/object, we should have 4 columns (with a pair on each) and 8 lines.

[2019-10-08 18:23] vjpixel opened #252 "add OBJ and JPG support"
The old Jandig app had OBJ and JPG support.

While there aren't OBJ objects published on Jandig (yet), there are more than 10 JPGs from the first phase that would benefit right now with support.

[2019-10-08 18:33] vjpixel opened #253 "add rich content to exhibitions"
To migrate Jandig's website content fully to the new platform, we need to be able to do some basic formatting of the text, add images, and embed videos.

Here's an example of a page that needs migration: http://memelab.com.br/jandig/exposicoes/algo-a-mais/

Besides making it possible to unify the content in a single CMS and URL, this will give all curators the possibility of having the documentati

[2019-10-08 18:44] #209 closed

[2019-10-08 18:58] vjpixel opened #254 "As an user, I want to click on a button to the Exhibition's list of Artworks, so I can access it."
Some users reported that they didn't realize that the Exhibition name on the Collection page has a link to see the artwork list.

We should add the same link that is on the name of the Exhibit to "X Artwork(s)" so it's more intuitive.

[2019-10-08 19:11] vjpixel commented on #241
Have an uppercase initial in every occurrence of Marker, Artwork, Object, and Exhibition. - both in Portuguese and English.

[2019-10-08 19:21] vjpixel opened #255 "show user's profiles"
The user's profile has information that isn't' been shown anywhere. It would be nice to have links in their names so we can get more info about them. Including their e-mails, so when a curator uses their Artworks in an exhibition, s/he can get in touch.

[2019-10-08 19:25] vjpixel opened #256 "upload/download a vector version of the markers"
Since the markers are published in PNG. When someone wants to print a high-resolution version of a marker, s/he needs to recreate the marker.

@hvalois do you agree? What would be the best vector file format to we o use?

[2019-10-08 19:33] vjpixel opened #257 "content sort criteria"
Looking for the list of contents, they don't seem to be ordered by date or name. What's the order criteria?

[2019-10-09 18:41] vjpixel opened #258 "As an user, I want to download exhibitions, so I'm able to see them offline."
I've been presented with a situation where there are no cellular data, just wifi in specific spots.

How is it possible to pre-load content without showing it?

[2019-10-22 19:21] hugonxc commented on #150
I'm working on this

[2019-10-22 21:08] hugonxc commented on #218
Hey there! I was looking at how to contribute to Jandig, so I create all template view for password recovery. I leave a comment where insert the send e-mail code. Hope you like it.

[2019-10-23 12:19] pablodiegoss commented on #218
Thank you very much! Your PR #260 has been merged on develop!

[2019-10-25 17:38] hvalois commented on #149
@vjpixel can u please review this?

[2019-10-25 17:40] hvalois commented on #150
@vjpixel this is similar to issue #149, already on review. Can you review this too?

[2019-10-25 17:41] hvalois opened #261 "As an user, I want to start writting a name of an exhibition and see it, so I don't need to find it in a long drop-down menu."
I've stumbled upon this code a few days ago. I think it would be amazing on the exhibition list, on ARViewer launch.

Unfortunatelly, I don´t know feel  confident enough to change the results from a dropdown to a element list by myself. I´m sure this code is very ferocious and could bite off my hands if I try. Anyway, I leave the link here so we can look at this togheter some day.

https://www.w3s

[2019-10-26 02:12] hugonxc opened #262 "Adjust highlighting selected item"
When I was working on the password recovery page, I used the web site to create some artwork and exibition stuff to get more into the project. But I notice then when I was creating an artwork or an exibition the highlight works differently.
On artwork markers:
![before_hard_BG](https://user-images.githubusercontent.com/10819341/67612799-5d9bae80-f77c-11e9-8a59-33cad1cb5eb5.png)

![before_soft_BG](

[2019-10-28 14:08] #262 closed

[2019-10-28 14:09] pablodiegoss commented on #262
Thank you very much! We used the red background as a placeholder for something like you did, but we never actually did it hahaha

[2019-10-29 13:56] pablodiegoss commented on #261
Nice example, we can substitute "name" and "country" for something like "Exhibit Name" and "Exhibit URL". Should be clear enough to use

[2019-10-30 13:42] vjpixel commented on #258
Wow! That's a great ideia!

[2019-10-30 14:13] vjpixel commented on #261
Would be really amazing to have this! The list is getting very long now.

I think that we can have just the name, as we have now, to make it simpler.

[2019-10-30 14:23] vjpixel commented on #149
It seems great!

[2019-10-30 14:23] #149 closed

[2019-10-30 14:24] vjpixel commented on #150
It seems great!

[2019-10-30 14:24] #150 closed

[2019-10-30 15:27] vjpixel commented on #235
Done and tested.

[2019-10-30 15:28] #235 closed

[2019-10-30 15:34] #41 closed

[2019-10-30 15:44] vjpixel commented on #246
@pablodiegoss is it simple to put the list in alphabetical order?

As our list of artworks increase, it's becoming harder to people to find the right Exhibition.

[2019-10-31 00:18] vjpixel commented on #257
@pablodiegoss Can you order alphabetically the Exhibitions on the AR viewer?

[2019-11-02 23:54] vjpixel opened #265 "fix link to Generator"
The link for the Generator, on the Marker creation ("https://jandig.app/users/markers/upload/") is pointing to https://dev.jandig.app/generator/

[2019-11-03 12:57] vjpixel opened #266 "exhibition failing to load"
The exhibition https://jandig.app/contrastes have 4 Artworks, and I can check that when I open it in the dashboard (images below).

![Screenshot from 2019-11-03 09-36-13](https://user-images.githubusercontent.com/1034796/68085286-2719ff80-fe1e-11e9-9f5e-52d8347a76e5.png)

![Screenshot from 2019-11-03 09-42-57](https://user-images.githubusercontent.com/1034796/68085305-5b8dbb80-fe1e-11e9-82fb-bcbb7

[2019-11-04 13:46] pablodiegoss commented on #257
It is done

[2019-11-04 13:56] pablodiegoss commented on #265
Fixed.
the link was hardcoded as
[code]
<a href="{{ url('marker-generator') }}" target="_blank" class="useful">here</a>.
[code]

[2019-11-04 13:56] #265 closed

[2019-11-04 14:26] pablodiegoss commented on #266
I've opened the exhibit collection page on my phone, opened all the markers on new tabs and tested using the jandig.app/contrastes, all of them worked just fine, couldn't replicate the error, possibly this was some network error while loading the page, refreshing everything should be enough.

![Screenshot from 2019-11-04 11-23-03](https://user-images.githubusercontent.com/8556291/68127914-8eef4980

[2019-11-04 14:37] vjpixel commented on #266
Try seeing all images at once:

![matriz](https://user-images.githubusercontent.com/1034796/68128733-0d002000-fef7-11e9-8ac8-a3a0c72183ba.png)

Samurai Hamsa shows that it isn't in any exhibition. How we can explain this?

[2019-11-04 14:59] vjpixel opened #267 "Ghost Artwork"
The Samurai Hamsa Artwork says that it isn't in any exhibition, but it is in https://jandig.app/contrastes/

![image](https://user-images.githubusercontent.com/1034796/68130489-31a9c700-fefa-11e9-96db-289b1a810078.png)

I checked, and all other markers seem to be OK.

[2019-11-04 14:59] vjpixel commented on #266
I created a new issue to deal with the Hamsa Artqowkr count: #267

[2019-11-04 15:04] #257 closed

[2019-11-04 15:13] vjpixel commented on #250
Also, the way it's working right now is causing some issues.

The Curators are creating duplicated artworks that are unnecessarily populating the database.

The counter in the Artwork modal isn't accurate, since there are clones of some artworks.

[2019-11-04 20:54] vjpixel opened #268 "5xx error"
I received an e-mail from Google Search Console saying we have a server error.

![Screenshot from 2019-11-04 17-53-27](https://user-images.githubusercontent.com/1034796/68157248-0f30a180-ff2c-11e9-8e37-15c5e0899ea1.png)

![Screenshot from 2019-11-04 17-51-31](https://user-images.githubusercontent.com/1034796/68157257-122b9200-ff2c-11e9-9ec2-191664ba86f9.png)

[2019-11-20 15:31] vjpixel commented on #268
It seems to be OK now.

![Screenshot from 2019-11-20 12-31-13](https://user-images.githubusercontent.com/1034796/69252379-ac791000-0b91-11ea-9af1-3ffac11ca1ca.png)

[2019-11-20 15:31] #268 closed

[2019-11-20 15:54] vjpixel commented on #251
Duplicated with #161

[2019-12-05 23:57] vjpixel commented on #105
@isahirsh @ventusof

[2019-12-06 00:12] vjpixel commented on #141
@isahirsh

[2019-12-06 00:13] vjpixel commented on #168
@isahirsh

[2019-12-06 00:14] vjpixel commented on #118
@isahirsh

[2019-12-06 21:29] ghost opened #269 "animation loading failed"
Failed attempt at testing an upload in the exhibition https://jandig.app/pretzel

Both marker and artwork show normally in the page but the animation won't load on the app.

It might be the case of the .gif file that I uploaded (2.1 MB) being larger than the 1 MB recommendation, but in either case the platform allowed me to upload it. Marker in question:
![marker](https://user-images.githubusercon

[2019-12-09 17:37] pablodiegoss commented on #269
Hey man, really nice that you have been using the platform!

We did some tests here to verify your issue, it's really strange that behavior...
First, we suspected that "blue" ish border on the bottom and second the drawing being kinda gray.
Your marker, artwork, and exhibit seems fine, we used your GIF on another marker and it worked fine too, but it didn't work on your marker :c

As I said, we tr

[2019-12-10 21:28] KiSobral opened #270 "Initialize vue project"
## Acceptance requirements
- [ ] Start a vue project inside jandig source
- [ ] Config docker files to include new vue project

[2019-12-10 21:44] KiSobral opened #271 "Configure library depencies"
## Acceptance requirements
- [ ] Add depencies on vue store files
- [ ] Configure package.json to include all project depencies
- [ ] Make sure everything is okay (and nothing breaks up)

**This issue depends on** [an external repo issue](https://github.com/rodrigocam/ar-gif/issues/19)

[2019-12-10 21:48] LeoSilvaGomes opened #272 "Temporary json"
## Acceptance requirements
- [ ] Create a json schema according to jandig markers
- [ ] Fill json with real markers
- [ ] Make sure the json is working fine

[2019-12-10 21:52] KiSobral opened #273 "Create structure of requests"
## Acceptance requirements
- [ ] Requests methods must exist
- [ ] Requests methods should be working fine
- [ ] The url paths must be according to Jandig API

[2019-12-10 21:58] LeoSilvaGomes opened #274 "Loading gif"
## Acceptance requirements
- [ ] Design the way to show the loading
- [ ] Create and validate the gif with group
- [ ] Add gif on project

[2019-12-26 20:40] anacforcelli commented on #229
removing two lines of code, the image appears (nott fully formatted) in the snapshot at GitHub, but not in the dev.jandig site.

[2019-12-26 20:51] anacforcelli commented on #128
What is this issue about?

[2019-12-26 21:09] vjpixel commented on #266
It seems to be working fine now.

[2019-12-26 21:09] vjpixel commented on #267
It seems to be working fine now.

[2019-12-26 21:17] vjpixel commented on #128
Hi @anacforcelli ,

When we opened the AR viewer on Firefox, it was crashing after some minutes of use.

This issue is old, and the app was improved a lot since when it was published. I've just tested for a couple of minutes and it seems to be working fine.

Can you please test the AR viewer in Firefox on your phone, to check if the issue still persists?

Thank you!

[2019-12-26 21:18] anacforcelli commented on #266
the water lady, the samurai rose and the triangle work, but the closed hand shows the samurai rose's animation inverted on the y-axis

[2019-12-26 21:37] anacforcelli commented on #128
The AR viewer crashed when the phone entered idle mode, when the screen darkens after a few minutes without use.

[2019-12-26 21:55] anacforcelli commented on #229
the problem is in the translation of the .rst code to the .html page

[2020-01-04 18:13] vjpixel commented on #243
Any news on this?

[2020-01-13 17:10] vjpixel opened #275 "Zoom"
As a user, I want to be able to zoom so that I can increase the size of markers that are far away.

[2020-01-13 17:13] vjpixel commented on #275
There are situations where the users are far away from the markers and can't get near. In this cases, the Marker is small and, consequently, the Object.

The proposal here is to add buttons to increase/decrease the zoom.

[2020-01-13 19:32] anacforcelli commented on #251
I'm making changes to item-list.jinja2 to generate modals for both the markers and the objects.

[2020-01-13 19:34] anacforcelli commented on #251
According to issue #248 , the object modal should support video formats.

[2020-01-13 20:57] vjpixel commented on #251
There are already modals for markers and objects, what is missing are links between contents.

Examples:

If I open the Exhibition Longa Vida à Jandig! on the CMS (https://jandig.app/exhibit/?id=1) I see a list of Artworks. I should be able to click on those artworks and open them.

If I open an Artwork I should be able to click on the Marker or the Object and open them.

[2020-01-14 00:44] anacforcelli commented on #251
![Captura de tela de 2020-01-13 21-34-38](https://user-images.githubusercontent.com/59101558/72303687-d2c8a280-364c-11ea-81a7-0e34d2934c16.png)

Me and Pablo fixed this. There was a missing include in the `exhibit-details.jinja2` file.

[2020-01-14 01:03] anacforcelli commented on #251
@vjpixel please review this pull request

[2020-01-14 20:46] vjpixel commented on #251
Very good!

The links to the artworks are there, but there aren't links for the markers/objects from the artworks modal (like I described above).

[2020-01-16 01:43] anacforcelli commented on #251
@vjpixel now it is fixed, please review.

[2020-01-20 22:39] vjpixel commented on #251
great!

[2020-01-20 22:39] #251 closed

[2020-01-20 23:21] anacforcelli commented on #215
I will use @angellorn 's method to implement the admin user. I will talk to him.

[2020-01-20 23:22] vjpixel commented on #204
@pablodiegoss said he'll give more details here.

[2020-01-21 11:36] angellorn commented on #248
please detail better, how would this video playback be.

[2020-01-21 15:25] vjpixel commented on #248
User story:
As an artist, I want to publish videos instead of GIFs.

***
What we want here is to support a new file format. The publishing workflow will keep the same, but a new file format needs to be added.

For the users, it will be completely transparent. Instead of watching GIFs, when an artist publish a video, the users will be an object in this new format.

It's important to remember that t

[2020-01-23 16:13] vjpixel opened #278 "inform users about marker transparency"
The patt generator doesn't support images with a transparent background. We need to inform this in the interface.

[2020-01-23 17:22] luccaepp commented on #204
To make the script works is needed to fill de Makefile with PASSWORD of the server machine, ROOT, IP and FOLDER DESTINATION of the backup machine, and in the Makefile.py is needed the password of the server machine

[2020-01-24 19:00] hockpond commented on #218
Issue resolved. Please, review @vjpixel

[2020-01-24 19:33] vjpixel commented on #218
I've tested, but I didn't receive the recovery e-mail.

Also, after the user inputs their username or e-mail, it should be nice to have a screen saying: "We've sent a new password to [useremail]. Be sure to check your spam folder. If you receive nothing, make sure the email you used is actually the one you registered on Jandig.

[2020-01-24 20:26] vjpixel opened #281 "fix CI/CD of Dev"
In the past, when we pushed to the Develop branch the code on dev.jandig.art was updated automatically.

It's not happening this way anymore, we need to have the old behavior back.

@pablodiegoss , can you help on this?

[2020-01-24 21:46] #267 closed

[2020-01-24 22:37] vjpixel commented on #206
It seems to be duplicated with #104.

[2020-01-24 22:41] vjpixel commented on #237
@anacforcelli Do you think this one is easy for you?

[2020-01-24 23:16] #68 closed

[2020-01-24 23:21] vjpixel commented on #109
@nohorse ping

[2020-01-24 23:23] vjpixel commented on #31
@discombobulateme can you please review the documentation we have?

[2020-01-24 23:39] vjpixel commented on #244
@discombobulateme can you please have a look at this documentation and suggest some improvements?

[2020-01-26 15:47] pablodiegoss commented on #281
Renaming the repo to Jandig broke the CI, I had to delete everything on gitlabci and create again, as the fix didn't fix it.

A new commit on the desired branches should trigger everything correctly.

[2020-01-26 15:49] pablodiegoss commented on #281
new commits with releases, on branch master or develop should trigger pipelines and can be verified on:
https://gitlab.com/pablodiegoss/jandig/pipelines

[2020-01-26 18:03] vjpixel commented on #281
@anacforcelli @hockpond @luccaepp Can one of you review it on Monday?

To do this, just push a simple commit that's very easy to verify and check on dev.jandig.art if it worked.

[2020-01-26 18:04] vjpixel commented on #204
@pablodiegoss Can you review this?

[2020-01-27 19:15] nohorse commented on #109
I'm no longer at HP!  I was never able to make much headway when I was there and don't know who to contact.  I think we should close this ticket.

[2020-01-28 17:19] hockpond commented on #254
Issue resolved, please review @vjpixel

[2020-01-28 19:45] vjpixel commented on #109
Thank you for your response. Closing the ticket!

[2020-01-28 19:45] #109 closed

[2020-01-28 19:54] vjpixel commented on #218
I've tested and it's working! Thank you!

I think the only thing that's missing is sending the e-mail from jandig@memelab.com.br

[2020-01-28 19:57] vjpixel commented on #254
Hey!

It was implemented in a different way from it's described above.

The way it is now, it has the AR button, reserved to links to the AR Viewer.

As described above, the link should be on "X Artwork(s)".

[2020-01-29 02:19] hockpond commented on #238
Issue resolved, please review @vjpixel

[2020-01-29 02:28] hockpond commented on #238
Issue resolved, please review @vjpixel

[2020-01-29 14:59] anacforcelli opened #287 "As an user, when an unexisting email is input to login field, the user is redirected to a django error page.."
When a wrong email is input in login screen, there is a django error message. As dev.jandig.app has django on DEBUG=true, the error is shown as the following image:
![Captura de tela de 2020-01-29 11-32-15](https://user-images.githubusercontent.com/59101558/73367221-fe26d080-428d-11ea-89d5-da3cffe3c1e7.png)
Django has to know that the email is wrong and show an user-friendly message telling that t

[2020-01-29 15:53] anacforcelli commented on #287
Great!

Though I also noticed the side doesn't say when you put an incorrect password, it just plain redirects you back to the login page

[2020-01-29 15:58] anacforcelli opened #288 "As an user, I want to be warned on the login page when I input a wrong password"

[2020-01-29 16:05] hockpond commented on #287
Issue [#287](https://github.com/memeLab/Jandig/issues/287) added to handle this.

[2020-01-29 16:50] vjpixel commented on #238
I've just tried in an exhibition and it didn't work.

[2020-01-29 17:39] vjpixel commented on #238
I tested and it's working as supposed.

[2020-01-29 18:55] vjpixel opened #289 "As an artist, I want to reveive a warning when I try to upload the wrong file format, so I can publish the right one."
The system does not verify the file format now, and that can lead to errors from artists.

[2020-01-29 19:01] vjpixel commented on #254
It's still not working as described.

We don't need to create a new text with the link, just use the one already existing. In the example below, the link should be in the text "1 artwork(s)".

![Screenshot from 2020-01-29 15-57-46](https://user-images.githubusercontent.com/1034796/73388095-5ff83200-42b0-11ea-9eb7-a4983d68158b.png)

[2020-01-29 23:42] vjpixel opened #290 "As a developer, I want to find easily an updated code of conduct, so I can read and understand it."
We're using the version 1.4 of Contributor Covenant, we're still using an old contact e-mail and the code is not on the root folder.

I propose to:
- Update the version to [2.0](https://www.contributor-covenant.org/version/2/0/code_of_conduct)
- Update the contact e-mail to jandig@memelab.com.br
- Move it to the root folder

[2020-01-30 03:34] rodrigocam commented on #248
I have added a initial video support to ar-gif, I didn't test videos with transparent background, but it worked with an mp4. Here is the new version https://github.com/rodrigocam/ar-gif/blob/video_support/build/ar-gif.min.js

[2020-01-30 11:38] angellorn commented on #248
I'm using the AR.js library itself, I thought about calling with this change can I use the same one out of the air to call the tag? for example today I do this in html to rederize the video

`<a-scene embedded arjs="sourceType: webcam; detectionMode: mono_and_matrix; matrixCodeType: 3x3;">
  <a-assets>
    <video id="what-car" autoplay="true" loop="true" src="https://www.youtube.com/watch?v=Dw45-v

[2020-01-30 18:50] vjpixel opened #291 "create robots.txt"
Investigate what is and create a `robots.txt` file that is accessible for bots to read on, improving SEO.

[2020-01-30 21:00] pablodiegoss commented on #287
We are using the default django.contrib.auth login page and form, I'm not sure how to fix this kind of validation without implementing a new login page of our own. Needs some research on the topic

[2020-01-30 21:00] vjpixel commented on #287
Can you please remove the bullet and change the text to "Username/email not found."

[2020-01-30 21:04] vjpixel commented on #254
I tested and it's done!

[2020-01-30 21:04] #254 closed

[2020-01-30 21:04] #238 closed

[2020-01-30 21:04] #281 closed

[2020-01-30 21:52] vjpixel commented on #287
I've tested and it's working.

[2020-01-30 21:52] #287 closed

[2020-01-31 20:13] vjpixel commented on #248
I've tested and it's working.

[2020-01-31 20:13] #248 closed

[2020-01-31 20:41] vjpixel commented on #275
We discussed the value of this improvement, and considered don't worth the effort by now.

It will create another button that will not be used for the majority of users and create an interface that will make users feel less immersed. Also, the shaking of the hands of the users when holding the smartphone will make it harder for the app to recognize the marker.

[2020-01-31 20:41] #275 closed

[2020-02-02 18:33] anacforcelli opened #292 "User: After the video update, some markers and objects started malfunctioning"
Some objects and markers are rendered the wrong way and don't show anymore on the collection page.

On the Markers tab, none of them show at all: they are all being rendered into video (screenshot below):
![image](https://user-images.githubusercontent.com/59101558/73613038-5f251000-45d0-11ea-8f54-3eed97e21595.png)

On the Objects tab, only the ones *not* correctly included as .gif don't show:
![im

[2020-02-02 21:29] anacforcelli commented on #202
Fixed now, please review @vjpixel

[2020-02-03 16:00] vjpixel commented on #202
Did you create a pull request?

[2020-02-03 16:08] vjpixel commented on #218
@hockpond Can you please create the issue describing what's the problem you having with the e-mail sender name, and what steps you already did to solve that?

[2020-02-03 17:49] hockpond opened #293 "Change the sender name of the password recovery email to Jandig"
When a password recovery email is sent, the sender name is jandig@memelab.com.br and not Jandig. There is a gmail configuration to change it, which I've done (it is working because if I send manually an email, the sender is shown as Jandig). But when the email is sent by a script, the sender is shown as jandig@memelab.com.

[2020-02-03 17:50] hockpond commented on #218
Issue #293 created.

[2020-02-05 16:53] vjpixel commented on #218
Tested and working.

[2020-02-05 16:53] #218 closed

[2020-02-06 00:31] vjpixel commented on #220
@anacforcelli it still don't match the requisites below.

You can comment the Scale and Rotation code. The scale needs to be calculated automatically, following the rules below.

Tip: the Z now is the Size described below.

[2020-02-06 13:57] vjpixel opened #298 "Select marker doesn't show content on Dev branch"
When I click on Select Marker on https://dev.jandig.app/users/artworks/create/ it doesn't show any content. Here's a screenshot:

![Screenshot from 2020-02-06 10-53-56](https://user-images.githubusercontent.com/1034796/73943332-5766b380-48cf-11ea-8c10-62c199e2abcc.png)

Also, They're not shown in the Collection.

![Screenshot from 2020-02-06 11-14-18](https://user-images.githubusercontent.com/1034

[2020-02-06 14:11] vjpixel opened #299 "Objects not shown on Dev branch"
When I click on Select Object on https://dev.jandig.app/users/artworks/create/ some of the Objects aren't shown. Here's a screenshot:

![Screenshot from 2020-02-06 10-58-34](https://user-images.githubusercontent.com/1034796/73943523-a7457a80-48cf-11ea-8927-db10a683d883.png)

I've checked the Collection page, and the content is missing too.

![Screenshot from 2020-02-06 11-00-51](https://user-image

[2020-02-06 14:32] anacforcelli commented on #298
@vjpixel check if the markers are being rendered as video instead of image, as I said in issue #292

[2020-02-06 14:35] vjpixel commented on #292
Thanks, Ana!

They are being rendered as video.

![Screenshot from 2020-02-06 11-34-26](https://user-images.githubusercontent.com/1034796/73946501-c7c40380-48d4-11ea-84cd-c53a8b3a4595.png)

@rodrigocam , can you fix this?

[2020-02-06 14:38] vjpixel commented on #298
Thanks, Ana!

They are being rendered as video.

![Screenshot from 2020-02-06 11-34-26](https://user-images.githubusercontent.com/1034796/73946658-09ed4500-48d5-11ea-8d65-47b50519668d.png)

Since it's already addressed on #292, I'm closing this issue.

[2020-02-06 14:38] #298 closed

[2020-02-06 14:39] vjpixel commented on #299
As ana showed on #292, the problem is that some GIFs are being rendered as video.

![Screenshot from 2020-02-06 11-34-26](https://user-images.githubusercontent.com/1034796/73946658-09ed4500-48d5-11ea-8d65-47b50519668d.png)

Since it's already addressed on #292, I'm closing this issue.

[2020-02-06 14:39] #299 closed

[2020-02-06 17:45] rodrigocam commented on #292
Please review PR #300!

[2020-02-06 20:35] luccaepp commented on #36
@vjpixel please review

[2020-02-07 15:38] #292 closed

[2020-02-07 21:34] vjpixel commented on #202
I've merged the PR related to this issue on Dev and tested.

The markers page is empty (image below).

![Screenshot from 2020-02-07 18-31-36](https://user-images.githubusercontent.com/1034796/74067485-258d4400-49d8-11ea-9679-f34a998d29c4.png)

At the end of each content's list page, there's a link to the same page. See the example below from https://dev.jandig.app/see_all/?which=artworks

![Screen

[2020-02-08 17:05] vjpixel commented on #202
I've tested and it's great!

[2020-02-08 17:05] #202 closed

[2020-02-10 19:09] vjpixel commented on #36
This issue needs #36 to be properly tested.

[2020-02-10 19:20] hockpond commented on #130
Maybe this thread on stackoverflow may help: https://stackoverflow.com/questions/3501510/blocking-device-rotation-on-mobile-web-pages

[2020-02-10 19:54] anacforcelli commented on #220
Checking the scope:
-Make "help" icons that show a text box near the cursor when the user hovers the mouse over them;
-Objects on item-lists show on scale instead of fixed 50x50;
-Edit an object's attributes after it was uploaded via an edit button that leads to an edit page.

[2020-02-10 19:55] anacforcelli commented on #232
Scope check:
-Test to see if it's actually implemented and working correctly

[2020-02-10 20:01] hockpond commented on #258
**What need to be done:** Implement a  pre-load of the exhibit's content right in the moment the exhibit is accessed (currently the content is downloaded only when the marker is recognized)
**How it will be executed:** It will be used the same logic that already exists, modifying when and how many time it happens. The download is executed at /profile and /collection and it need to be changed to ex

[2020-02-10 20:01] anacforcelli commented on #266
Scope check:
-Test if the AR engine is having trouble differing between the two .patts:
    ->Open the .patts to see if they look alike
    ->Change one of the defective markers to see if the problem fades
-If the problem is not .patt similarity, stare blankly at the screen for some hours until we have any idea of what is happening.

[2020-02-10 20:03] hockpond commented on #118
**What need to be done:** Make it possible to every mobile device be able to add Jandig's website to the homescreen.
**How it will be executed:** Searching for reasons why it isn't being possible in specific devices (mostly on iPhone)

[2020-02-10 20:16] vjpixel commented on #118
I agree

[2020-02-10 20:17] vjpixel commented on #258
Great! I agree.

[2020-02-10 20:19] vjpixel commented on #220
The objects must have the Height or Width as 50px, and the other side must be smaller. This way, the larger side is 50px.

OK?

[2020-02-10 20:20] anacforcelli commented on #220
yes, that is check

[2020-02-10 20:21] vjpixel commented on #232
Please, describe how you solved the problem.

[2020-02-10 20:23] vjpixel commented on #266
That seems to be a very good strategy!

[2020-02-10 20:31] luccaepp commented on #130
When you turns the screen, the app cut the image, it is necessary to disable the screen-rotation in the app for it works only as portrait, avoiding the image cut.

[2020-02-10 20:31] anacforcelli commented on #232
Firstly, I made a .../artwork URL, then a view to pass the context to this page. In the view, it gets the artwork's ID from the request, then uses the filter ( Object.objects.filter(id=X) ) method to return the artwork with said ID to the context that will be sent to the exhibit page (the exhibit.jinja2 file), thus making an AR scene with only one marker and one object the same way it's done in th

[2020-02-10 20:31] anacforcelli commented on #266
Thanks

[2020-02-10 20:35] vjpixel commented on #130
Great!

[2020-02-10 20:39] vjpixel commented on #232
The button should also be on the individual artwork's page. "See on AR viewer."

[2020-02-10 20:41] anacforcelli commented on #232
on the "see all artworks"?

[2020-02-10 20:44] vjpixel commented on #232
No, this one:

![Screenshot from 2020-02-10 17-44-13](https://user-images.githubusercontent.com/1034796/74188335-fae7f900-4c2c-11ea-920a-02ad807b455e.png)

[2020-02-10 20:46] anacforcelli commented on #232
So that you can see it before even uploading it?

[2020-02-10 20:48] vjpixel commented on #232
I was creating an issue right now about this.

When you edit an artwork, it should show "Edit Jandig Artwork", but right now it shows the creation page.

Consider that this is the edit page.

[2020-02-10 20:52] vjpixel opened #307 "Have a specific page for editing content"
When you edit a content (Exhibition, Artwork, or Object) it should show "Edit Jandig Artwork", but right now it shows the creation page.

[2020-02-10 20:53] vjpixel commented on #232
I created #307 to deal with what I described above.

[2020-02-10 20:58] anacforcelli commented on #232
All right. Should I redirect it to the creation page as #307 isn't finished?

[2020-02-10 21:01] vjpixel commented on #232
Yes

On Mon, 10 Feb 2020, 17:58 Sharkaroid, <notifications@github.com> wrote:

[2020-02-11 17:36] hockpond commented on #258
Please, review, @vjpixel  (branch develop)

[2020-02-12 17:59] hockpond commented on #250
**What need to be done:** Enable a curator to create an exhibit using any users artworks without needing to create a copy of the artwork (right now it is only possible to create exhibits with own artworks).
**How it will be executed:** When the user select the option to choose artworks, it appears a screen with the list of own artworks. The idea is to add a button to that screen which will show th

[2020-02-12 18:03] vjpixel commented on #250
Great! Go on!

On Wed, 12 Feb 2020, 14:59 Gustavo Camara Reis, <notifications@github.com>
wrote:

[2020-02-12 18:27] hockpond commented on #250
Please, review @vjpixel

[2020-02-12 19:29] hockpond commented on #288
Please, review @vjpixel

[2020-02-13 17:13] hockpond commented on #161
**What need to be done:** Create a name field to markers and objects and show these names when clicking on these elemens.
**How it will be executed:** Marker and object names will be included in its models on the database. Old markers and objects will have an empty name, meaning that clicking on them will return the same currently result. However, it will be possible to choose a name by clicking o

[2020-02-13 17:16] vjpixel commented on #288
Approved!

[2020-02-13 17:16] #288 closed

[2020-02-13 17:17] vjpixel commented on #258
@pablodiegoss can you review this one?

[2020-02-13 17:31] vjpixel commented on #250
It seems great!

[2020-02-13 17:31] #250 closed

[2020-02-13 17:42] vjpixel commented on #229
Hey @pablodiegoss ,

@anacforcelli told me that you said no one should touch this issue, that you're going to solve it.

I didn't know you were so possessive of issues. =P

Are you going to solve it, or should I ask someone else?

[2020-02-13 18:40] anacforcelli commented on #220
I am doing a teamwork with @hockpond to develop the edit pages for artworks and objects, which also regard issue #307, in such a way that the user won't be prompted to input everything about the artwork/object they are editing again.

[2020-02-13 18:40] hockpond commented on #307
It does edit the artwork or exhibit. The fact is you need to re-set all arwork's or exhibit's properties again, even if you want to edit one single field. I think a good idea is to make editable all fields in a separate way, so the user won't need to set again all properties; s/he only will need to change what s/he wans to.

[2020-02-13 18:42] vjpixel commented on #307
Great! Go for it! @hockpond

[2020-02-13 20:12] hockpond commented on #261
Please, review @vjpixel

[2020-02-13 20:18] hockpond commented on #161
The edit tool which I talked in last comment will be let to be implemented at issue #307.

[2020-02-13 20:39] hockpond commented on #247
This issue is considering that what was implemented on issue #258 is working properly.

**What need to be done**: Show a loading gif to the user while the download of all exhibit content isn't completed.
**How it will be executed**: The download is implemented making requests to the database like it was an API. These requests use the await command in javascript. The idea is to load the gif in ever

[2020-02-13 21:09] vjpixel commented on #247
Great!

[2020-02-13 21:10] vjpixel commented on #161
OK

[2020-02-13 21:11] vjpixel commented on #261
Hey, I think you marked the wrong issue. the PR seems to be related to issue #161

[2020-02-13 23:20] hockpond commented on #161
please, review @vjpixel

[2020-02-14 03:34] hockpond commented on #247
please, review @vjpixel

[2020-02-14 15:37] vjpixel commented on #130
I've tested on the dev environment and it's asking for camera permission every time I turn the smartphone.

Can you check on that?

[2020-02-14 15:40] vjpixel commented on #161
Done! Great job!

[2020-02-14 15:40] #161 closed

[2020-02-14 20:35] vjpixel opened #314 "As a user, I want to see easily messages on login screen, so I'm sure I don't miss them."
The messages of wrong username, password, et al. messages are very discrete now. Should be better to have a pop-up or other way to highlight the messages.

[2020-02-14 21:17] hockpond commented on #118
It was tested with 4 android devices and 2 iphone devices and went well. Acoording to @vjpixel , if 5 tests go well on each type of mobile device, the issue will be closed.

[2020-02-16 23:23] pablodiegoss commented on #270
Closing these issues as vuedig is not being developed for quite some time.

[2020-02-16 23:23] #270 closed

[2020-02-16 23:23] pablodiegoss commented on #274
Closing these issues as vuedig is not being developed for quite some time.

[2020-02-16 23:23] #274 closed

[2020-02-16 23:23] pablodiegoss commented on #273
Closing these issues as vuedig is not being developed for quite some time.

[2020-02-16 23:23] #273 closed

[2020-02-16 23:23] pablodiegoss commented on #272
Closing these issues as vuedig is not being developed for quite some time.

[2020-02-16 23:23] #272 closed

[2020-02-16 23:23] pablodiegoss commented on #271
Closing these issues as vuedig is not being developed for quite some time.

[2020-02-16 23:23] #271 closed

[2020-02-18 23:39] #258 closed

[2020-02-19 18:35] hockpond commented on #237
Please, review @vjpixel

[2020-02-19 18:44] #237 closed

[2020-02-20 17:40] #232 closed

[2020-02-20 17:44] vjpixel commented on #215
To test this, I need access to the admin dashboard.

[2020-02-21 05:54] valessiobrito opened #318 "slug input for exhibition url"
bug usability + system;

reproduce:
1. create a exhibition;
2. select elements and next;
3. insert a url on "Exhibition url"

result (broken the link for exhibition);
like that: https://jandig.app/http://url-exibition.com

suggestion to fix:
1. filter the input to accept only url-compatible characters;
2. label show the complete url formation in the label for Exhibition slug;

[2020-02-22 02:08] pablodiegoss opened #319 "Mp4 video proportions breaking create artwork"
After I've uploaded a .mp4 as an object file the create artwork button returns an error.

![bug_mp4_proportions](https://user-images.githubusercontent.com/8556291/75084424-c0207380-54fe-11ea-91e7-bd4c9ddafce2.png)

The scale is being saved with some problem, I've found the value being a NaN and 1.

![bug_proportions_2](https://user-images.githubusercontent.com/8556291/75084450-e80fd700-54fe-11ea-9

[2020-02-22 02:11] pablodiegoss opened #320 "Video edit, preview and delete buttons not showing."
If using video the profile buttons to edit, preview and delete do not show on artworks containing videos.

![bug_video_edit_buttons](https://user-images.githubusercontent.com/8556291/75084504-34f3ad80-54ff-11ea-9bf8-2cd0fae3b6c8.png)

PS. They are also badly positioned when they actually appear :c

[2020-05-05 20:58] mysitnikov opened #321 "change pattern ratio"
Hi! How to change patternRatio to 0.9 for marker, is it possible?

[2020-05-05 21:03] mysitnikov commented on #321
*change frame thickness
![pattern-marker (1)](https://user-images.githubusercontent.com/51914758/81115762-ad361080-8f3d-11ea-8eba-54fdaa43dc5f.png)

[2020-05-06 16:57] rodrigocam commented on #321
I don't know if in the current version is possible to do that but I think @pablodiegoss is developing a new version with this feature. @pablodiegoss can you give us some light here? (:

[2020-05-06 17:44] pablodiegoss commented on #321
The actual [marker generator](https://jandig.app/generator/) has a fixed pattern to border ratio, I've been developing a python marker generator that allows you to change the ratio and we will soon use it on Jandig to automatically generate markers and patts for the user, however that's not available yet...

If you want, you can use the python package directly while it isn't integrated here: https

[2020-05-06 17:44] #321 closed

[2020-05-19 18:47] vjpixel opened #322 "Adjust scale changing values"
When I change the Adjust Scale value of an Artwork it's changing to another value.

I just saved 0.95:
![Screenshot from 2020-05-19 15-28-37](https://user-images.githubusercontent.com/1034796/82366071-fed3a600-99e7-11ea-8a1c-0258b763f16d.png)

Just after saving, I opened and the value changed to 0.7737809375:
![Screenshot from 2020-05-19 15-29-27](https://user-images.githubusercontent.com/1034796/

[2020-05-19 18:51] vjpixel commented on #322
I just tried to see if it's related to the Horizontal position that I changed, but it seems unrelated.

My input:
![Screenshot from 2020-05-19 15-49-21](https://user-images.githubusercontent.com/1034796/82366431-8c16fa80-99e8-11ea-8dbc-f6f9467ca89e.png)

After I save and open again, that's what I see:
![Screenshot from 2020-05-19 15-51-13](https://user-images.githubusercontent.com/1034796/82366459

[2020-05-19 19:06] vjpixel commented on #322
I just saved as 1.5. When I open, it says:
![Screenshot from 2020-05-19 16-05-51](https://user-images.githubusercontent.com/1034796/82367787-bec1f280-99ea-11ea-890b-4c88fe21b1f2.png)

[2020-05-19 19:14] vjpixel commented on #322
Now it's working again (saving 1 result in 1):
![Screenshot from 2020-05-19 16-13-54](https://user-images.githubusercontent.com/1034796/82368445-d2ba2400-99eb-11ea-9af4-8db914f988bf.png)

[2020-09-22 00:54] MatheusBlanco commented on #244
Is this issue related to the actual manual documentation? Or to a in-application tutorial of how to publish that should be improved?

[2020-09-22 12:41] vjpixel commented on #244
It's related to the actual documentation.

On Mon, 21 Sep 2020 at 21:54, Matheus Salles Blanco <
notifications@github.com> wrote:

--
Angelo Pixel
https://www.linkedin.com/in/vjpixel/

[2020-09-22 19:45] shayanealcantara opened #324 "Create template to standardize issues and prs"
### Description:
Creating template for issues, pull requests and making small changes in contributing.md document.

### Acceptance criteria:
- Standardize report to bug template, common issue and PR template

### Tasks:
- [x] Bug template report
- [x] Issue template
- [x] PR template

[2020-09-22 20:29] MatheusBlanco commented on #244
Got it! Thank you very much!

[2020-09-24 02:30] shayanealcantara opened #326 "Create vision document about jandig"
### Description:
Create vision document to introduce business content about the project, as part of the documentation

### Acceptance criteria:
- Must be consistent with the project

### Tasks:
- [ ] Fill the common chapters about vision documents

[2020-09-24 16:02] #324 closed

[2020-09-24 16:03] vjpixel commented on #326
I can help you with this if you need it.

[2020-09-24 22:32] darmsDD opened #327 "Link app to .patt file generator"
## Description:
Create button the opens the marker generator.

## Acceptance criteria:
* Button must be in the create object form.
* Button redirects to page marker generator.
* User needs to dowload the marker and the .patt file.

## Tasks:
 - [ ] Create button
 - [ ] Link button to marker generator.

[2020-09-24 23:35] pablodiegoss commented on #327
The marker generator link is https://jandig.app/generator/

[2020-09-25 17:16] shayanealcantara commented on #326
Thankss, we think it would be great if you could contribute, since you're more close to the project and we need it. We're working in our fork, so I'll be creating the PR and you can review in real time what we're doing and where we can add or fix some content.

[2020-09-29 21:43] manuengsf opened #329 "Update Readme Document"
Update readme Document to fix  the command for docker-compose and extend the operational system to include windows .

[2020-10-01 17:54] MatheusBlanco commented on #244
Hi, I wanted to check up on some doubts regarding this documentation.

First is about its language. We wrote this manual in english and would like to know whether it is ok or if portuguese would be more appropriate for the viewing users.

[2020-10-01 17:59] MatheusBlanco commented on #244
Secondly is about the document viewing framework. I believe Jandig is using Sphynx to compile and display its documentation, correct? When I ran the local build on my computer, DJANGO threw an error regarding the index.html file when I tried to access the "Help" page. This happened both on the develop branch and on the branch created for this specific issue.

Here's a screenshot of the error shown

[2020-10-01 23:45] vjpixel commented on #244
Hi Matheus,

I see that you wrote the manual in English. It's amazing because we want to attract more international users.

But the majority of our users are Portuguese speaking, so it's good to keep both versions.

Do you think it's possible to translate the new version to Portuguese, so we have both?

@pablodiegoss can answer about Sphynx better than me.

[2020-10-02 17:26] MatheusBlanco commented on #244
Yes, of course. I will leave the Pull Request with the WIP tag for the time being so that I can translate it.

[2020-10-04 12:46] victoralvesgomide opened #333 "Create Software Architecture Document (SAD)"
### Description:
A Software Architecture Document is very important for an Open Source project, because it allows new contributors to understand the code more easily.

### Acceptance criteria:
Should be based on a model, and must contain the main topics: Introduction, Architectural Representation, Architectural Goals and Constraints, and views (Use-Case View, Logical View, etc.).

### Tasks:
- [x]

[2020-10-06 00:31] MatheusBlanco commented on #244
It's done! I have changed the tag to REVIEW.

[2020-10-06 16:13] victoralvesgomide opened #335 "Fix readme incorrect commands"
### Description:
Current readme shows some incorrect commands, which difficults new contributors to run the project.

### Acceptance criteria:
Readme fixed, so everyone can follow its instructions and successfully run the project in their machines.

### Tasks:
- [X] Try to run the project following current instructions;
- [X] Check which instructions are incorrect (or deprecated);
- [x] Replace th

[2020-10-08 21:35] pablodiegoss opened #338 "Wrong message appears in Collection when you have an empty database"
**Describe the bug**
When you run Jandig in a development environment that you haven`t created any content yet the collection page displays the wrong message.
**To reproduce the bug**

1. Delete your jandig db or run Jandig in a new environment
2. Run Jandig with Docker-compose up
3. Access localhost:8000 on your pc
4. Click on Collection
5. The message that appears is "This element isn't being us

[2020-10-08 22:58] pablodiegoss commented on #244
Your comment is right, we use .rst files to describe our docs and Sphinx to generate html files from them, which django-docs routes and make them linkable through "/docs".

Awesome that you noticed that error, we moved around some folders on some update and now Sphinx wasn't being able to find the index.html that it generated previously. I've found the problem and pushed a fix to the develop branc

[2020-10-09 20:37] shayanealcantara commented on #244
@pablodiegoss I tested here in our branch and your last commit fixed the problem 😄
<img src="https://user-images.githubusercontent.com/33501171/95628774-1540d380-0a55-11eb-9684-e36042633b79.png" width="400"/>

[2020-10-14 23:10] #327 closed

[2020-10-15 19:59] #335 closed

[2020-10-17 01:53] shayanealcantara opened #342 "Delete request not working"
**Describe the bug**
On the page of my stuff, it is not possible to delete an artwork, an object or a marker

**To reproduce the bug**
Steps to reproduce the behavior:
1. Go to My stuff page
2. Click on delete icon in some object, marker or artwork
3. Confirm your decision with the popup
4. See that the thing you wanted to delete still there

**Expected behavior**
The target should disappear from

[2020-10-18 18:39] #320 closed

[2020-10-18 18:49] #319 closed

[2020-10-18 18:58] pablodiegoss commented on #229
I'm not possessive at all HAHAHAHA this issue is free to take

[2020-10-18 21:47] vjpixel commented on #244
Sorry for the delay. I've just commented on #330 .

[2020-10-18 22:29] vjpixel commented on #252
Since we're focusing on moving images, I'm closing this issue.

[2020-10-18 22:29] #252 closed

[2020-10-18 22:44] vjpixel commented on #319
\o/

[2020-10-18 22:49] vjpixel commented on #215
I've checked the dashboard. It's possible (but not easy) to find almost all kinds of contents, but not Markers.

@pablodiegoss you know why the Markers are missing?

[2020-10-18 22:55] vjpixel commented on #130
I've just tested, and it's not asking for camera permissions every time I turn the smartphone anymore.

[2020-10-18 22:55] #130 closed

[2020-10-18 23:00] vjpixel commented on #128
I've just tested, and it seems to be working fine. The app is keeping the camera on, and it's not crashing.

[2020-10-18 23:00] #128 closed

[2020-10-19 14:11] vjpixel commented on #243
I'll solve that. Gracielle told me I can contact Mark Walsh asking to update this.

[2020-10-21 00:42] shayanealcantara opened #343 "Edit and delete buttons are one above other, instead of side by side"
**Describe the bug**
Edit and delete buttons are one above other, instead of side by side (Objects list). So I can't delete or edit them properly

**To reproduce the bug**
Steps to reproduce the behavior:
1. Create an Object
2. Go to 'My stuff'
3. Scroll the screen until your 'Objects' list
4. See the error

**Expected behavior**
The buttons should be visible side by side

**Screenshots**
![image]

[2020-10-25 16:03] victoralvesgomide opened #344 "IndexError when trying to access Collection section"
**Describe the bug**
A Django IndexError page shows up whenever you try to click "Collection" button.

**To reproduce the bug**
1. Access https://jandig.app/ in your browser
2. Stay in the Jandig's home page *OR*
    Go to profile editing page *OR*
    Go to my stuff page
3. Click "Collection" button
4. Error page will show up

**Expected behavior**
Collection page shows up when you click "Collect

[2020-10-25 20:38] victoralvesgomide opened #346 "Create high-fidelity prototype"
### Description:
Jandig ArTe is a great app, but it can be a little tricky for new users, which may indicate a usability problem. In this case, a high-fidelity prototype can be an interesting idea to understand the desirable interaction flows, and then improve current flows.

### Acceptance criteria:
- It must contain the main app pages:
  - Homepage
  - Login
  - Register
  - Edit profile
  - Exh

[2020-10-28 01:23] #343 closed

[2020-10-28 01:24] #342 closed

[2020-10-28 23:09] pablodiegoss commented on #344
Thanks for the report! This issue is related to the mp4 bug that has been fixed, however, it is not in production yet!

[2020-10-28 23:09] #344 closed

[2020-10-29 01:01] victoralvesgomide commented on #344
I thought it could be related to #319 indeed, but since I was not sure, I decided to report the bug anyway lol

[2020-11-06 19:05] #333 closed

[2020-11-08 15:45] victoralvesgomide commented on #322
It took hours for me and @shayanealcantara to understand where the problem was. We explored all the files with the word 'scale' in them. In the end, it was a simple mistake in the 'xproportion' and 'yproportion' methods of the Object class. Isn't the world of programming wonderful? xD

Anyway, we left comments explaining related methods in the code, and we will use this issue to explain (what we u

[2020-11-08 15:50] victoralvesgomide commented on #322
When the user uploads an Object, the aspect ratio of that Object is calculated and stored as a string in the format "[width ratio] [height ratio]", so that the largest value between them appears as 1, and the another appears as a fraction of it. It may seem confusing, but try to see it as a scale in format 1:[something].

Let's use Patrick's GIF as an example. It is 500 pixels wide and 300 pixels

[2020-11-08 15:52] victoralvesgomide commented on #322
When the user inputs a value in the "Scale" form (either when uploading or editing the Object), that value is multiplied by both the width and height ratios. Returning to the example, if the user enters the value 2, the new scale is "2 1.2".

The 'xscale' and 'yscale' methods simply obtain these height and width ratios from the scale attribute. The 'xproportion' and 'yproportion' methods obtain th

[2020-11-09 22:53] vjpixel commented on #322
O.o

Thank you very much!!!

[2020-11-12 02:07] shayanealcantara opened #351 "Block the editing of markers and objects used by other people's exhibit or artworks"
**Describe the bug**
It shouldn't be possible to edit a marker or object in use by an artwork or exhibition.

**To reproduce the bug**
Steps to reproduce the behavior:
1. Go to 'my stuff'
2. Click on 'try to edit an object that is being used in an artwork'
3. You will edit the content

**Expected behavior**
It shouldn't appear the option to edit the marker or object when in use

[2020-11-15 20:25] MatheusBlanco commented on #278
Can you take a look at this PR? https://github.com/memeLab/Jandig/pull/350

We have added a message for this issue.

[2020-11-15 20:49] manuengsf opened #353 "Structure core and users app semantically"
**Describe the bug**
  the folder organization is not clear to devoloper which  dificult the code understanding , because many archives in core suited better in users and the opposite ocurrs too then the code need to be organized in a more clear way.

**To reproduce the bug**
Steps to reproduce the behavior:
1. open the core folder
2. open the models file
3. open the users folder
4. open the model

[2020-11-18 23:48] shayanealcantara opened #354 "Remove Artwork2 class"
### Description:
Remove Artwork2 class to start the code cleaning

### Acceptance criteria:
Describe what the issue needs to fulfill to be considered finalized.
- The class and its probably dependencies should be organized or removed

### Tasks:

- [x]  Remove class
- [x] Fix any kind of previous dependency

[2020-11-23 21:16] MatheusBlanco opened #356 "SOLID and Clean Code: Edit method abstract"
### Description:
SOLID and clean code issue for the edit object method, in users/views.py. This issue has the objective of creating a abstract edit method which can be used by both the objects model and the marker model, if it ever comes into fruition.

### Acceptance criteria:
Describe what the issue needs to fulfill to be considered finalized.

- [x] Abstract method that can render the page
- [x

[2020-11-24 22:22] MatheusBlanco opened #357 "SOLID and Clean Code: Reduce equal methods"
### Description:
SOLID and clean code issue for the get_marker and get_augmented methods, in users/views.py. This issue has the objective of creating a abstract edit method which can be used by both the augmented and marker method, both of which are used by the create and edit artwork, in order to reduce the ammount of duplicate code.

### Acceptance criteria:
Describe what the issue needs to fulf

[2020-11-25 20:30] darmsDD opened #358 "Solid and Clean Code: item-list"
**Description**
Solid and Clean Code issue. I had a hard time undertanding the code in this page(Jandig/src/ARte/users/jinja2/users/components/item-list.jinja2) when doing other issues. I wished it would be clear.

**Acceptance criteria**
One way is to set variables with code parts of jinja2, and setting the name of the variables in such a way the it's function is clear.

**Tasks**
- [x]  Create v

[2020-11-26 01:38] darmsDD opened #360 "Solid and Clean Code: refact delete content"
## Description
Solid and clean code issue. This issue focus on single responsability principle. The ideia is to divide the user delete and the moderator delete into two parts.

## Acceptance criteria
- [x] The user can delete his possessions
- [ ] The moderator has the same delete permissions as before

## Tasks
- [x] Separate function delete_content into two
- [x] Create function delete_content_m

[2020-11-26 18:50] victoralvesgomide opened #362 "[Clean Code] Remove "community2.jinja2" file"
### Description:
"community2.jinja2" file was probably created as a temporary file, since it has "lorem ipsum" stuff all over. It's not used anywhere in code, so there is no need for it to exist.

### Acceptance criteria:
- "community2.jinja2" file removed and code runs fine still.

### Tasks:
- [X] Remove file;
- [X] Run project successfully.

[2020-11-28 21:30] #362 closed

[2020-11-28 21:31] #351 closed

[2020-11-30 18:19] devsalula opened #365 "Solid and Clean Code: Refactoring of recover password implementation"
## Description

Solid and clean code issue for recover password method. This issue is focused on improving the implementation of the recover password method, adapting it to clean code and solid.

## Acceptance criteria:
- [x] The user must receive a hash code in the email to recover the password
- [x] The user enters a new password

## Tasks
- [x] Reduce the number of lines of the recover password

[2020-11-30 20:09] pablodiegoss opened #367 "Creating exhibit with repeated name crashes the frontend."
**Describe the bug**
The Exhibit name is a unique field that crashes the page if you try to publish another one with the repeated name

**To reproduce the bug**
1. Upload an object
2. Upload a marker
3. Create an artwork using both marker and objects that you uploaded.
1. Create an exhibit with the name "Teste"
2. Create another exhibit with the name "Teste" again.

**Expected behavior**
Show a me

[2020-12-01 20:55] #354 closed

[2020-12-01 21:52] victoralvesgomide commented on #322
@vjpixel We're glad you liked it! The issue was resolved and the code was merged, so you may close it already ^^

[2020-12-01 22:22] victoralvesgomide opened #368 "Index Error after user inserts scale value with a comma"
**Describe the bug**
When the user is going to create an object, he needs to enter a scale value. If the user tries to enter a fractional value representing decimal places with a comma (,) and not a dot (.), this breaks the system. That way, you are unable to access Collection and My Stuff pages, and also create a new artwork (i.e nothing related to the object you just created).

**To reproduce th

[2020-12-06 13:29] MatheusBlanco commented on #244
Hello! Since this PR was already merged, could this issue be closed?

[2020-12-07 00:00] vjpixel commented on #244
Yep!

[2020-12-07 00:00] #244 closed

[2020-12-07 00:20] vjpixel commented on #322
Done!

[2020-12-07 00:20] #322 closed

[2020-12-10 21:10] manuengsf commented on #353
The Branch  353-struct-models  won't be produce a completly work on time to compute to the discipline , because it has some errors and the time was finished represent  contribution of part  the clean code - and SOLID   .

[2021-02-14 20:39] pablodiegoss opened #373 "Change the object position form field UI from number input to sliders"
When uploading an object the user must inform the base position vertically and horizontally, the default being 0 for both.
as so:
![image](https://user-images.githubusercontent.com/8556291/107888272-fdd59380-6ee9-11eb-923b-fa1b47a2dc10.png)

However this is non-intuitive and most users have no idea what those numbers really mean.
This issue is to substitute both fields for [range sliders](https://

[2021-02-14 21:55] pablodiegoss opened #374 "Move SMTP credentials to external environment variable"
In the `users/services/email_service.py` we have an explicit set of email and password which will send the recover-password e-mail in the platform:
![image](https://user-images.githubusercontent.com/8556291/107890064-a4736180-6ef5-11eb-9843-8441d3301be1.png)

That should be replaced by an environment variable and put on the `src/.envs` folder, there on each file under the `Django` section.
This va

[2021-02-14 21:59] pablodiegoss opened #375 "Create new Issue Templates"
We only have a issue template for bugs:
![image](https://user-images.githubusercontent.com/8556291/107890242-89edb800-6ef6-11eb-9964-00fb56ed55db.png)

Templates for requesting new features or UI modifications could help guide users when creating new issues.

[2021-02-14 22:06] pablodiegoss opened #376 "Create profile page"
Jandig doesn't have a user profile page, where people can explore other users information, published content and bio. Some data is actually available on the profile, however, it isn't being shown anywhere:
![image](https://user-images.githubusercontent.com/8556291/107890333-287a1900-6ef7-11eb-9860-35d4b3bcd1f0.png)

This new page should be available by clicking the username shown in published cont

[2021-02-14 22:07] #365 closed

[2021-02-14 22:08] #358 closed

[2021-02-14 22:08] #356 closed

[2021-02-14 22:08] #357 closed

[2021-02-14 22:14] #360 closed

[2021-02-14 22:20] pablodiegoss opened #377 "Form fields moving"
**Describe the bug**
Form field move up and down when you hover the mouse to see the tip

**To reproduce the bug**
Steps to reproduce the behavior:
1. Go to your profile
2. Click on upload object
3. Pass the mouse over title of any fields

**Expected behavior**
The help text should only appear while hovering over the `?` button. Also, no field should move.

**Screenshots**
No mouse:
![image](https

[2021-02-14 22:27] #318 closed

[2021-02-14 22:32] pablodiegoss commented on #291
This feature must be later included on the deploy version of docker-compose, nginx needs to serve this file statically for it to be available. (This may become another issue)

[2021-02-14 22:42] pablodiegoss opened #378 "Invalid exhibit's url error text not included in translation"
The whole page was set for pt-br, but the text was being shown as:

![image](https://user-images.githubusercontent.com/8556291/107891309-81987b80-6efc-11eb-9ba6-28d1f4cbc189.png)

[2021-02-16 20:17] vjpixel opened #379 "Night mode on Firefox mobile"
**Describe the bug**
The CSS is not working well when Firefox is in night mode.

**To reproduce the bug**
Steps to reproduce the behavior:
1. Go to 'http://jandig.app' on Firefox when in night mode

**Expected behavior**
It should show the same interface as Firefox when in normal mode.

**Screenshots**
![Screenshot_20210215-190113_Firefox](https://user-images.githubusercontent.com/1034796/10811634